:root {
  --grid-width: 120rem;
  --grid-gutter-vertical-xs: 4rem;
  --grid-gutter-vertical-s: 6rem;
  --grid-gutter-vertical-m: 8rem;
  --grid-gutter-vertical-l: 10rem;
  --grid-gutter-vertical-xl: 12rem;
  --grid-gutter-horizontal-xs: 1rem;
  --grid-gutter-horizontal-s: 2rem;
  --grid-gutter-horizontal-m: 4rem;
  --grid-gutter-horizontal-l: 6rem;
  --grid-gutter-horizontal-xl: 8rem; }

:root {
  --color-dark: #17a5ad;
  --color-one: #3aafa9;
  --color-two: #2b7a78;
  --color-three: #def2f1;
  --color-whitish: #feffff;
  --color-grey: #464d5a; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: var(--color-whitish); }

@font-face {
  font-family: 'volkswagen';
  src: url("../../fonts/Volkswagen Serial Light.otf");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: 'volkswagen';
  src: url("../../fonts/Volkswagen Serial.otf");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'volkswagen';
  src: url("../../fonts/Volkswagen Serial Medium.otf");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'volkswagen';
  src: url("../../fonts/Volkswagen Serial Bold.otf");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'volkswagen';
  src: url("../../fonts/Volkswagen Serial ExtraBold.otf");
  font-style: normal;
  font-weight: 900; }

body {
  font-family: volkswagen;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #777; }

.header-main {
  position: relative;
  height: 110vh;
  background-image: linear-gradient(to right bottom, rgba(58, 175, 169, 0.8), rgba(43, 122, 120, 0.6)), url(../../images/hero2.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }
  .header-main__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 2;
    pointer-events: none; }
  .header-main__overlay svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color-whitish); }
  .header-main__content {
    position: absolute;
    max-width: var(--grid-width);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header-main__title {
    color: var(--color-whitish);
    font-size: 8rem;
    letter-spacing: 1rem;
    line-height: 1.25;
    margin-bottom: 2rem;
    text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef, 0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1); }
  .header-main__desc {
    color: var(--color-three);
    font-size: 2rem;
    font-weight: 100; }

.row {
  max-width: var(--grid-width);
  margin: 0 auto;
  position: relative; }
  .row:not(:last-child) {
    margin-bottom: var(--grid-gutter-vertical-m); }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background: red;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: var(--grid-gutter-horizontal-l); }
  .row [class^="col-"][class$="of-12"]:not(:last-child) {
    margin-right: var(--grid-gutter-horizontal-xs); }
  .row .col-1-of-2 {
    width: calc((100% - var(--grid-gutter-horizontal-l)) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * var(--grid-gutter-horizontal-l)) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * var(--grid-gutter-horizontal-l)) / 3) + var(--grid-gutter-horizontal-l)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * var(--grid-gutter-horizontal-l)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * var(--grid-gutter-horizontal-l)) / 4 + var(--grid-gutter-horizontal-l)); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * var(--grid-gutter-horizontal-l)) / 4 + 2 * var(--grid-gutter-horizontal-l)); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * var(--grid-gutter-horizontal-l)) / 5); }
  .row .col-2-of-5 {
    width: calc(2 * (100% - 4 * var(--grid-gutter-horizontal-l)) / 5 + var(--grid-gutter-horizontal-l)); }
  .row .col-3-of-5 {
    width: calc(3 * (100% - 4 * var(--grid-gutter-horizontal-l)) / 5 + 2 * var(--grid-gutter-horizontal-l)); }
  .row .col-4-of-5 {
    width: calc(4 * (100% - 4 * var(--grid-gutter-horizontal-l)) / 5 + 3 * var(--grid-gutter-horizontal-l)); }
  .row .col-1-of-6 {
    width: calc((100% - 5 * var(--grid-gutter-horizontal-l)) / 6); }
  .row .col-2-of-6 {
    width: calc(2 * (100% - 5 * var(--grid-gutter-horizontal-l)) / 6 + var(--grid-gutter-horizontal-l)); }
  .row .col-3-of-6 {
    width: calc(3 * (100% - 5 * var(--grid-gutter-horizontal-l)) / 6 + 2 * var(--grid-gutter-horizontal-l)); }
  .row .col-4-of-6 {
    width: calc(4 * (100% - 5 * var(--grid-gutter-horizontal-l)) / 6 + 3 * var(--grid-gutter-horizontal-l)); }
  .row .col-5-of-6 {
    width: calc(5 * (100% - 5 * var(--grid-gutter-horizontal-l)) / 6 + 4 * var(--grid-gutter-horizontal-l)); }
  .row .col-1-of-12 {
    width: calc((100% - 11 * var(--grid-gutter-horizontal-xs)) / 12); }
