<footer class="site-footer">
	<section class="section--footer">
		<div class="wrapper">
			<div class="row">
				<div class="col-2-of-3">
					<div class="site-footer__item-content">
						<table class="site-footer__item-lists">
							<tr class="site-footer__item-row--heading">
								<td class="site-footer__item">Learn More</td>
								<td class="site-footer__item">Platform</td>
								<td class="site-footer__item">Community</td>
								<td class="site-footer__item">What's Hot</td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item">About</td>
								<td class="site-footer__item">Platform</td>
								<td class="site-footer__item">Help & Support</td>
								<td class="site-footer__item">Justin Timberlake</td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item">Pavlov Enterprise</td>
								<td class="site-footer__item">API Docs</td>
								<td class="site-footer__item">Press</td>
								<td class="site-footer__item">Pink</td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item">MLS Partnership</td>
								<td class="site-footer__item">Dev Blog</td>
								<td class="site-footer__item">Jobs</td>
								<td class="site-footer__item">Billy Joel</td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item">Sell on Pavlov.mk</td>
								<td class="site-footer__item">Dev Community</td>
								<td class="site-footer__item">Twitter</td>
								<td class="site-footer__item">Ariana Grande</td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item">Event news</td>
								<td class="site-footer__item">Partner Program</td>
								<td class="site-footer__item">Our Team</td>
								<td class="site-footer__item">Fleetwood Mac</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-1-of-3">
					test
				</div>
			</div>
			<div class="site-footer__bottom">
				<div class="site-footer__bottom__content">
					<div class="site-footer__bottom__logo">
						<img src="/assets/images/logo1-grey.svg" alt="logo">
				</div>
					<div class="site-footer__bottom__items">
						<ul>
							<li>Privacy Policy</li>
							<li>Terms of use</li>
							<li>Site Map</li>
						</ul>
					</div>
					<div class="site-footer__bottom__copyright-container">
						<div class="site-footer__bottom__copyright">&copy; 2019 Nikola Pavlov. All rights reserved. Made by Nikola Pavlov.</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</footer>
<script src="/temp/scripts/App.js"></script>
</body>
</html>