<footer class="site-footer">
	<section class="section--footer">
		<div class="wrapper">
			<div class="row">
				<div class="col-2-of-3">
					<div class="site-footer__item-content">
						<table class="site-footer__item-lists">
							<tr class="site-footer__item-row--heading">
								<td class="site-footer__item">Learn More</td>
								<td class="site-footer__item">Platform</td>
								<td class="site-footer__item">Community</td>
								<td class="site-footer__item">What's Hot</td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item"><a href="#">About</a></td>
								<td class="site-footer__item"><a href="#">Platform</a></td>
								<td class="site-footer__item"><a href="#">Help & Support</a></td>
								<td class="site-footer__item"><a href="#">Justin Timberlake</a></td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item"><a href="#">Pavlov Enterprise</a></td>
								<td class="site-footer__item"><a href="#">API Docs</a></td>
								<td class="site-footer__item"><a href="#">Press</a></td>
								<td class="site-footer__item"><a href="#">Pink</a></td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item"><a href="#">MLS Partnership</a></td>
								<td class="site-footer__item"><a href="#">Dev Blog</a></td>
								<td class="site-footer__item"><a href="#">Jobs</a></td>
								<td class="site-footer__item"><a href="#">Billy Joel</a></td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item"><a href="#">Sell on Pavlov.mk</a></td>
								<td class="site-footer__item"><a href="#">Dev Community</a></td>
								<td class="site-footer__item"><a href="#">Twitter</a></td>
								<td class="site-footer__item"><a href="#">Ariana Grande</a></td>
							</tr>

							<tr class="site-footer__item-row">
								<td class="site-footer__item"><a href="#">Event news</a></td>
								<td class="site-footer__item"><a href="#">Partner Program</a></td>
								<td class="site-footer__item"><a href="#">Our Team</a></td>
								<td class="site-footer__item"><a href="#">Fleetwood Mac</a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-1-of-3">
					<div class="site-footer__right-container">
						<div class="loading-logo">
							<div class="loading-logo__container">
								<div class="loading-logo__logo loading-logo__logo--front"></div>
								<div class="loading-logo__logo loading-logo__logo--back "></div>
							</div>
						</div>
						<div class="site-footer__social-media">
							<div class="site-footer__social-media__container">
								<div class="site-footer__social-media__items">
									<div class="site-footer__social-media__items--item" onclick="location.href='#';" style="cursor: pointer;">
										<div class="site-footer__social-media__items--item__icon site-footer__social-media__items--item__icon--facebook"></div>
										<div class="site-footer__social-media__items--item__text">Facebook</div>
									</div>
								</div>
								<div class="site-footer__social-media__items">
									<div class="site-footer__social-media__items--item" onclick="location.href='#';" style="cursor: pointer;">
										<div class="site-footer__social-media__items--item__icon site-footer__social-media__items--item__icon--instagram"></div>
										<div class="site-footer__social-media__items--item__text">Instagram</div>
									</div>
								</div>
								<div class="site-footer__social-media__items">
									<div class="site-footer__social-media__items--item" onclick="location.href='#';" style="cursor: pointer;">
										<div class="site-footer__social-media__items--item__icon site-footer__social-media__items--item__icon--linkedin"></div>
										<div class="site-footer__social-media__items--item__text">Linkedin</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="site-footer__bottom">
				<div class="site-footer__bottom__content">
					<div class="site-footer__bottom__logo">
						<img src="/assets/images/logo1-grey.svg" alt="logo">
				</div>
					<div class="site-footer__bottom__items">
						<ul>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms of use</a></li>
							<li><a href="#">Site Map</a></li>
						</ul>
					</div>
					<div class="site-footer__bottom__copyright-container">
						<div class="site-footer__bottom__copyright">&copy; 2019 Nikola Pavlov. All rights reserved. Made by Nikola Pavlov.</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</footer>
<script src="/temp/scripts/App.js"></script>
</body>
</html>