<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Nikola Pavlov Portfolio</title>
	<meta name="keywords" content="CV, Portfolio, Nikola, Pavlov, Webdesign, Logo, Design, Developer">
	<meta name="description" content="Portfolio website for Nikola Pavlov">
	<link rel="stylesheet" type="text/css" href="/assets/styles/css/style.css">
</head>
<body>

	<header class="header-main">
		<div class="row">
			<div class="header-main__logo">
				<figure>
					<img src="/assets/images/logo1.svg" alt="logo"> 
					<figcaption class="header-main__logo-caption">Nikola Pavlov</figcaption> 
				</figure>
			</div>

			<div class="header-main__menu-icon"></div>

			<div class="header-main__menu-content">
				<div class="header-main__btn-container">
					<a href="#" class="btn">Hello World</a>
				</div>
				<nav class="nav-primary nav-primary--float-right">
					<ul>
						<li><a href="#section1">Section 1</a></li>
						<li><a href="#section2">Section 2</a></li>
						<li><a href="#section3">Section 3</a></li>
						<li><a href="#section4">Section 4</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>