<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Nikola Pavlov Portfolio</title>
	<meta name="keywords" content="CV, Portfolio, Nikola, Pavlov, Webdesign, Logo, Design, Developer">
	<meta name="description" content="Portfolio website for Nikola Pavlov">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/styles/css/style.css">
</head>
<body>

	<header class="header-main">
		
		<nav class="nav-top">
			<div class="row wrapper">
				<ul>
					<li>Dark Mode</li>
					<li class="nav-top__item__language">
						<span class="nav-top__item__language__icon"></span> Language
						<div class="nav-sub">
							<div class="nav-sub__item">
								<div class="nav-sub__item__container">
									<div class="nav-sub__item__icon nav-sub__item__icon--eng"></div>
									<div class="nav-sub__item__lang">English</div> 
								</div>
							</div>
							<div class="nav-sub__item">
								<div class="nav-sub__item__container">
									<div class="nav-sub__item__icon nav-sub__item__icon--mkd"></div>
									<div class="nav-sub__item__lang">Macedonian</div> 
								</div>
							</div>
							<div class="nav-sub__item">
								<div class="nav-sub__item__container">
									<div class="nav-sub__item__icon nav-sub__item__icon--alb"></div>
									<div class="nav-sub__item__lang">Albania<n/div> 
									</div>
								</div>
							</div>
						</li>
						<% if(!currentUser) { %>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign Up</a></li>
						<% } else { %>
						<li><a>Hello <%= currentUser.username %></a></li>
						<li><a href="/logout">Logout</a></li>
						<% } %>

						
						
					</ul>
				</div>
			</nav>

			<div class="row wrapper">
				<a href="/">
					<div class="header-main__logo">
						<figure> 
							<img src="/assets/images/logo1.svg" alt="logo"> 
							<figcaption class="header-main__logo-caption">Nikola Pavlov</figcaption> 
						</figure>
					</div>
				</a>

				<div class="header-main__menu-icon">
					<div class="header-main__menu-icon__middle"></div>
				</div>

				<div class="header-main__menu-content">
					<div class="header-main__btn-container">
						<a href="/contact" class="btn btn--small btn--white">Contact me</a>
					</div>


					<nav class="nav-primary nav-primary--float-right">
						<ul>
							<li><a href="#hi-there" id="hi-there-link">Hi There</a></li>
							<li><a href="#digital-services" id="digital-services-link">Digital Services</a></li>
							<li><a href="#about-me" id="about-me-link">About Me</a></li>
							<li><a href="#logo-design" id="logo-design-link">Logo Design</a></li>
							<li><a href="#mobile-ready" id="mobile-ready-link">MobileReady</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<div class="contact">
			<input id="contact-toggle" type="checkbox" class="contact__checkbox">
			<label for="contact-toggle" class="contact__button contact__button--front"></label>
			<label for="contact-toggle" class="contact__button contact__button--back"></label>
			<div class="contact__background">test</div>
			<div class="contact__content">
				<div class="contact__content__container">
					<div class="main-contact-form">
						<div class="main-contact-form__container text-generic">
							<h2 class="headline-4 u-center-horizontaly u-margin-bottom-small headline--stylish-1">Contact me</h2>

 					<p class="main-contact-form__desc u-margin-bottom-xsmall">Please feel free to drop me a line.</p>


							<form action="/contact" method="POST" class="main-contact-form__form">
								<div class="main-contact-form__form__group">
									<input type="text" class="main-contact-form__form__input" name="firstName" placeholder="Your First Name" id="contact-name" required>
									<label for="contact-name" class="main-contact-form__form__label">Your First Name</label>
								</div>

								<div class="main-contact-form__form__group">
									<input type="text" class="main-contact-form__form__input" name="lastName" placeholder="Your Last Name" id="contact-email" required>
									<label for="contact-email" class="main-contact-form__form__label">Your Last Name</label>
								</div>

								<div class="main-contact-form__form__group--2">
									<input type="email" class="main-contact-form__form__input" name="email" placeholder="Your Email" id="contact-email" required>
									<label for="contact-email" class="main-contact-form__form__label">Your Email</label>
								</div>

								<div class="main-contact-form__form__group--2">
									<input type="text" class="main-contact-form__form__input" name="subject" placeholder="Your Subject" id="contact-subject" required>
									<label for="contact-subject" class="main-contact-form__form__label">Your Subject</label>
								</div>

								<div class="main-contact-form__form__group--2">
									<textarea rows="4" class="main-contact-form__form__textarea" name="message" placeholder="Your Message" id="contact-message"required></textarea>
									<label for="contact-message" class="main-contact-form__form__label">Your Message</label>
								</div>

								<button class="btn btn--main btn--full-width">Send Message</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>