 <% include ../partials/header %>





 <section class="section section--newcomment">
 	<div class="wrapper">
 		<div class="reset__reset">
 			<div class="reset__reset__image newcomment"></div>
 			<h2 class="reset__reset__title">Enter your comment for project "<strong><%= project.name %></strong>"</h2>
 			<p class="reset__reset__info">Your are posting as <strong><%= currentUser.username %></strong>. <a href="/logout">Log Out?</a></p>
 			<form action="/portfolio/<%= project._id %>/comments/" method="POST">
 				<div class="reset__reset__container">
 					<div class="main-contact-form__form__group">
 						<textarea rows="4" class="main-contact-form__form__textarea" name="comment[text]" placeholder="Your Comment" required></textarea>
 						<label for="contact-message" class="main-contact-form__form__label">Your Comment</label>
 					</div>
 					<button class="btn btn--main reset__forgot__btn">Post Comment</button>
 				</div>
 			</form>
 			<p class="reset__reset__text">The comment your post will be visible <strong>publicly</strong>.</p>
 		</div>
 	</div>
 </section>


 <% include ../partials/footer %>