<% var pageTitle = "Edit photo for gallery | Nikola Pavlov" %> 
<% var pageDescription = "This page is for editing a photo in the gallery" %> 
<% var pageKeywords = "Portfolio, Nikola Pavlov, Edit, Update, Pavlov, Gallery, Photos, Work, Designer, Developer" %> 

<% include ../partials/header %>

<br><br><br><br><br><br><br><br><br><br><br><br>

<h1>Edit photo</h1>

<form action="/portfolio/<%= project._id %>/photos/<%= photo._id %>?_method=PUT" method="POST">
	<input type="text" name="photo[photo]" value="<%= photo.photo %>">
	<input type="text" name="photo[order]" value="<%= photo.order %>">
	<button>Submit</button>
</form>

<a href="/portfolio">View Portfolio</a>

<% include ../partials/footer %>