<% include ./partials/header %>


<div class="hero">
	<div class="hero__background"></div>
	<div class="hero__overlay">
		<svg class="hero__wave" viewBox="0 0 1440 120" PreserveAspectRatio="none">
			<path fill="currentColor" d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
		</svg>
	</div>

	<div class="hero__content">
		<h1 class="hero__title u-margin-bottom-xsmall">Details Matter.</h1>
		<p class="hero__desc text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis velit, magnam adipisci sunt omnis corporis ad enim odit odio, quia quae fuga vitae architecto!</p>
		<a href="#" class="btn btn--main u-margin-top-medium">Stay in touch</a>	 
		<div class="hero__icons">
			<ul>
				<a href="http://www.facebook.com/nikola.pavlov"><li class="hero__icons__icon hero__icons__icon__facebook"></li></a>
				<li class="hero__icons__icon hero__icons__icon__instagram"></li>
				<li class="hero__icons__icon hero__icons__icon__linkedin"></li>
				<li class="hero__icons__icon hero__icons__icon__email"></li>
				<li class="hero__icons__icon hero__icons__icon__skype"></li>
				<li class="hero__icons__icon hero__icons__icon__github"></li>
			</ul>
		</div> 	
	</div>
</div>

<section class="section section--skills">

	<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Hi There</h2>
	<div class="skills">
		<p class="skills__intro">My name is Nikola and i enjoy working as a</p>
		<div class="toggle">
			<div class="toggle__container">
				<div class="toggle__button toggle__choice--off">
					<div class="toggle__button__title toggle__button__title--one">Designer</div>	
				</div>					
				<div class="toggle__background">
					<div class="toggle__switch"></div>
				</div>
				<div class="toggle__button toggle__choice--on">

					<div class="toggle__button__title toggle__button__title--two">Developer</div>

				</div>
			</div>
		</div>

		<div class="wrapper">
			<div class="skills__container u-margin-top-medium">
				<div class="skills__designer">
					<div class="skills__designer__container">
						<div class="skills__designer__info">

							<div class="skills__designer__info__front">
								<div class="skills__designer__info__front__img"></div>
							</div>
							<div class="skills__designer__info__back">
								<h4 class="skills__designer__info__back__title">
									Designer
								</h4>
								<div class="skills__designer__info__back__description text-generic u-margin-top-xsmall">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nihil beatae necessitatibus.
								</div>
							</div>
						</div>

						<div class="skills__designer__categories">
							<div class="skills__designer__categories__group">
								<div class="skills__designer__categories__icon">
									<div class="skills__designer__categories__icon__icon">
										
									</div>
									<div class="skills__designer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__designer__categories__info">
									<div class="skills__designer__categories__info__title">Visualy Stunning</div>
									<div class="skills__designer__categories__info__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto voluptate atque.</div>
								</div>
							</div>

							<div class="skills__designer__categories__group">
								<div class="skills__designer__categories__icon">
									<div class="skills__designer__categories__icon__icon">
										
									</div>
									<div class="skills__designer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__designer__categories__info">
									<div class="skills__designer__categories__info__title">Visualy Stunning</div>
									<div class="skills__designer__categories__info__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto voluptate atque.</div>
								</div>
							</div>

							<div class="skills__designer__categories__group">
								<div class="skills__designer__categories__icon">
									<div class="skills__designer__categories__icon__icon">
										
									</div>
									<div class="skills__designer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__designer__categories__info">
									<div class="skills__designer__categories__info__title">Visualy Stunning</div>
									<div class="skills__designer__categories__info__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto voluptate atque.</div>
								</div>
							</div>

							<div class="skills__designer__categories__group">
								<div class="skills__designer__categories__icon">
									<div class="skills__designer__categories__icon__icon">
										
									</div>
									<div class="skills__designer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__designer__categories__info">
									<div class="skills__designer__categories__info__title">Visualy Stunning</div>
									<div class="skills__designer__categories__info__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto voluptate atque.</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="skills__developer">
					<div class="skills__developer__container">
						<div class="skills__developer__info">

							<div class="skills__developer__info__front">
								<div class="skills__developer__info__front__img"></div>
							</div>
							<div class="skills__developer__info__back">
								<h4 class="skills__developer__info__back__title">
									Website Developer
								</h4>
								<div class="skills__developer__info__back__description text-generic u-margin-top-xsmall">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nihil beatae necessitatibus.
								</div>
							</div>
						</div>

						<div class="skills__developer__categories">
							<div class="skills__developer__categories__group">
								<div class="skills__developer__categories__icon">
									<div class="skills__developer__categories__icon__icon">
										
									</div>
									<div class="skills__developer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__developer__categories__info">
									<div class="skills__developer__categories__info__title">Visualy Stunning</div>
									<div class="skills__developer__categories__info__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto voluptate atque.</div>
								</div>
							</div>

							<div class="skills__developer__categories__group">
								<div class="skills__developer__categories__icon">
									<div class="skills__developer__categories__icon__icon">
										
									</div>
									<div class="skills__developer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__developer__categories__info">
									<div class="skills__developer__categories__info__title">Visualy Stunning</div>
									<div class="skills__developer__categories__info__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto voluptate atque.</div>
								</div>
							</div>

							<div class="skills__developer__categories__group">
								<div class="skills__developer__categories__icon">
									<div class="skills__developer__categories__icon__icon">
										
									</div>
									<div class="skills__developer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__developer__categories__info">
									<div class="skills__developer__categories__info__title">Visualy Stunning</div>
									<div class="skills__developer__categories__info__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto voluptate atque.</div>
								</div>
							</div>

							<div class="skills__developer__categories__group">
								<div class="skills__developer__categories__icon">
									<div class="skills__developer__categories__icon__icon">
										
									</div>
									<div class="skills__developer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__developer__categories__info">
									<div class="skills__developer__categories__info__title">Visualy Stunning</div>
									<div class="skills__developer__categories__info__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto voluptate atque.</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="section section--digital-services">
	<div class="digital-services">
		<div class="digital-services__left">
			<div class="digital-services__left__container">
				<h2 class="headline-4 u-margin-bottom-xsmall headline--stylish-1 digital-services__headline">Digital Services</h2>
				<p class="digital-services__left__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<div class="digital-services__left__group">
					<div class="digital-services__left__group__icon"></div>
					<div class="digital-services__left__group__title">Web Developement</div>
					<div class="digital-services__left__group__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, corporis vero.</div>
				</div>
				<div class="digital-services__left__group">
					<div class="digital-services__left__group__icon"></div>
					<div class="digital-services__left__group__title">Pixel Perfect Design</div>
					<div class="digital-services__left__group__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, corporis vero.</div>
				</div>
				<div class="digital-services__left__group">
					<div class="digital-services__left__group__icon"></div>
					<div class="digital-services__left__group__title">Branding</div>
					<div class="digital-services__left__group__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, corporis vero.</div>
				</div>
				<div class="digital-services__left__group">
					<div class="digital-services__left__group__icon"></div>
					<div class="digital-services__left__group__title">App Developement</div>
					<div class="digital-services__left__group__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, corporis vero.</div>
				</div>
			</div>
		</div>
		<div class="digital-services__right">
			<div class="digital-services__right__img">
				<!-- test -->
			</div>
		</div>
	</div>
</section>

<section class="section section--about-me">
	<div class="about-me">
		<div class="about-me__right">
			<div class="about-me__right__img">
				<!-- test -->
			</div>
		</div>
		<div class="about-me__left">
			<div class="about-me__left__container">
				<h2 class="headline-4 u-margin-bottom-xsmall headline--stylish-1 about-me__headline">About Me</h2>
				<p class="about-me__left__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quidem, corporis placeat! Optio corporis, quae magni perferendis qui itaque eveniet reprehenderit architecto maiores, laudantium aspernatur, numquam dolorem esse nulla alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus sint repellat accusamus neque animi repellendus consectetur quidem laudantium in praesentium dolorum, alias, quaerat velit voluptatum debitis tempora soluta eligendi vel.</p>
				<p class="about-me__left__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis debitis voluptatum eaque amet quibusdam doloremque, suscipit eligendi praesentium. Deserunt repellendus, vero ut assumenda accusamus! Quisquam dolorum cupiditate, consequatur maiores obcaecati.</p>
				<p class="about-me__left__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur eum ipsam, minima vitae doloremque, sapiente, ut voluptatibus earum repellendus quidem veniam quo alias quod officia facilis temporibus ex quibusdam sed.</p>
				<a href="#" class="btn btn--main about-me__btn">View More</a>
				<a href="#" class="btn btn--white--border about-me__btn">View More</a>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="wrapper">
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Everything starts with an idea.</h2>
		<p class="text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos <span class="infobox">inventore<span class="infobox__text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quibusdam suscipit quasi, ipsam, iure earum. Quibusdam nihil doloremque perspiciatis dolore porro recusandae quidem neque, ab cupiditate molestiae fugiat itaque beatae. cum repellat.</span></span> in esse eius libero repudiandae incidunt sed architecto ea magnam, mollitia iure maxime perspiciatis eveniet aspernatur laboriosam expedita, error. Nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse odit sequi illo quas rem ullam excepturi similique enim, dolores, blanditiis amet sed voluptates officia saepe autem ipsam, obcaecati eaque a.</p>
	</div>
</section>

<section class="section section--business-card">
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">
			Business Cards
		</h2>
		<div class="business-card--container">
			<div class="business-card">
				<div class="business-card--content">
					<img class="business-card--image" src="assets/images/business-card.jpg" alt="business card">
					<h1>Just hover around</h1>
					<p><small>by <a href="http://ariona.net" target="_blank">Ariona, Rian</a></small></p>
					<p class="related"><strong>See also: </strong><a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged dropdown animation</a></p>
				</div>
			</div>
		</div>
	</section>

<section class="section section--logo-designer">
	<div class="wrapper">
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Logo Design</h2>
		<div class="logo-designer">
			<div class="logo-designer__features logo-designer__features--1">
				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste accusantium consequatur aliquid molestias, voluptatem labore nobis ipsum consectetur aspernatur.</div>
				</div>

				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste accusantium consequatur aliquid molestias, voluptatem labore nobis ipsum consectetur aspernatur.</div>
				</div>

				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste accusantium consequatur aliquid molestias, voluptatem labore nobis ipsum consectetur aspernatur.</div>
				</div>
			</div>
			<div class="logo-designer__logo-animation">
				<!-- 		Logo Animation -->
				<div class="logo-designer__btn-reload"></div>
				<div id="logo-reload" class="logo-design">
					<div class="logo-design__circle--red logo-design__circle--red--first"></div>
					<div class="logo-design__circle--red logo-design__circle--red--second"></div>
					<div class="logo-design__circle--red logo-design__circle--red--third"></div>
					<div class="logo-design__circle--red logo-design__circle--red--forth"></div>
					<div class="logo-design__rect--invisible"></div>
					<div class="logo-design__rect--blue"></div>
					<div class="logo-design__circle--yellow logo-design__circle--yellow--first"></div>
					<div class="logo-design__circle--yellow logo-design__circle--yellow--second"></div>
					<div class="logo-design__circle--yellow logo-design__circle--yellow--third"></div>
					<div class="logo-design__circle--green"></div>
					<div class="logo-design__logo-text logo-design__logo-text--left">Nikola</div>
					<div class="logo-design__logo-text logo-design__logo-text--right">Pavlov</div>
				</div>
			</div>

			<div class="logo-designer__features logo-designer__features--2">
				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste accusantium consequatur aliquid molestias, voluptatem labore nobis ipsum consectetur aspernatur.</div>
				</div>

				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste accusantium consequatur aliquid molestias, voluptatem labore nobis ipsum consectetur aspernatur.</div>
				</div>

				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste accusantium consequatur aliquid molestias, voluptatem labore nobis ipsum consectetur aspernatur.</div>
				</div>
			</div>

			<div class="logo-designer__pencil">
				<div class="logo-designer__pencil__container">
					<img src="assets/images/pencil.png" alt="pencil">
				</div>
			</div>


			
		</div>
	</div>
</section>

<section class="section section--mobile-ready">
	<div class="wrapper">
		<div class="row">
			<div class="mobile-ready">
				<div class="col-1-of-2">
					<h2 class="headline-4 u-margin-bottom-medium headline--stylish-1">Mobile Ready</h2>
					<p class="mobile-ready__description text-generic u-margin-bottom-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<div class="mobile-ready__box text-generic">
						<div class="mobile-ready__box__container">
							<div class="mobile-ready__box__title">
								Best Design Possible
							</div>
							<div class="mobile-ready__box__extra-content mobile-ready__box__extra-content--is-visible">
								<div class="mobile-ready__box__extra-content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quisquam expedita quae est, autem magnam officia, incidunt, repellendus similique quibusdam.
								</div>
							</div>
							<div class="mobile-ready__box__more">-</div>
						</div>
					</div>

					<div class="mobile-ready__box text-generic">
						<div class="mobile-ready__box__container">
							<div class="mobile-ready__box__title">
								Best Design Possible
							</div>
							<div class="mobile-ready__box__extra-content">
								<div class="mobile-ready__box__extra-content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quisquam expedita quae est, autem magnam officia, incidunt, repellendus similique quibusdam.
								</div>
							</div>
							<div class="mobile-ready__box__more">+</div>
						</div>
					</div>

					<div class="mobile-ready__box text-generic">
						<div class="mobile-ready__box__container">
							<div class="mobile-ready__box__title">
								Best Design Possible
							</div>
							<div class="mobile-ready__box__extra-content">
								<div class="mobile-ready__box__extra-content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quisquam expedita quae est, autem magnam officia, incidunt, repellendus.
								</div>
							</div>
							<div class="mobile-ready__box__more">+</div>
						</div>
					</div>

					<div class="mobile-ready__box text-generic">
						<div class="mobile-ready__box__container">
							<div class="mobile-ready__box__title">
								Best Design Possible
							</div>
							<div class="mobile-ready__box__extra-content">
								<div class="mobile-ready__box__extra-content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quisquam expedita quae est, autem magnam officia, incidunt, repellendus similique quibusdam, culpa error libero deserunt nostrum.
								</div>
							</div>
							<div class="mobile-ready__box__more">+</div>
						</div>
					</div>
				</div>
				<div class="col-1-of-2">
					<div class="mobile-ready__mobile">
						<div class="mobile-ready__mobile__img"></div>
						<div class="mobile-ready__mobile__content">
							<div class="owl-mobile owl-carousel owl-theme">
								<div class="item mobile-ready__mobile__content__item">
									
								</div>
								<div class="item mobile-ready__mobile__content__item">
									
								</div>
								<div class="item mobile-ready__mobile__content__item">
									
								</div>
								<div class="item mobile-ready__mobile__content__item">

								</div>
							</div>
						</div>
						<div class="my-owl-nav">
							<div class="mobile-ready__mobile__btn-container">
								<div class="my-next-button mobile-ready__mobile__btn">
									<div class="mobile-ready__mobile__next-btn__content"><</div>
								</div>
								<div class="my-prev-button mobile-ready__mobile__btn">
									<div class="mobile-ready__mobile__prev-btn__content">></div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--content-branding">
	<div class="content-branding">
		<div class="content-branding__overlay">
			<svg class="content-branding__wave" viewBox="0 0 1440 120" PreserveAspectRatio="none">
				<path fill="currentColor" d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
			</svg>
		</div>

		<div class="content-branding__content">
			<div class="wrapper">
				<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">
					Content Branding
				</h2>
			</div>
			<div class="content-branding__panorama"></div>
			<div class="wrapper">
				<div class="content-branding__description u-margin-top-small">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est aperiam dicta, nulla adipisci hic aliquid vitae maxime quisquam iste accusantium ipsam quae enim inventore velit magni cupiditate placeat in officiis!
				</div>
			</div>
		</div>
	</div>
</section>



<section class="section section--latest-work">
	<!-- <div class="wrapper"> -->
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">
			Latest Work
		</h2>
		<div class="latest-work">
			<ul class="latest-work__showcase">
				<li>
					<figure class="latest-work__figure">
						<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
						<img src="assets/images/mockup/1.jpg" alt="test image">
						<figcaption class="latest-work__figure__caption"></figcaption>
						<div class="latest-work__figure__container">
							<div class="latest-work__figure__title">branding content</div>
							<div class="latest-work__figure__comments">24</div>
						</div>
					</figure>
					<div class="latest-work__back-side latest-work__back-side--first">
						<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
						<div class="latest-work__back-side__container">
							<h3 class="latest-work__back-side__title">Some Project</h3>
							<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
							<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="latest-work__back-side__date-created">06/09/2019</div>
							<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
							Back Side
						</div>
					</div>
				</li>

				<li>
					<figure class="latest-work__figure">
						<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
						<img src="assets/images/mockup/2.jpg" alt="test image">
						<figcaption class="latest-work__figure__caption"></figcaption>
						<div class="latest-work__figure__container">
							<div class="latest-work__figure__title">branding content</div>
							<div class="latest-work__figure__comments">24</div>
						</div>
					</figure>
					<div class="latest-work__back-side">
						<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
						<div class="latest-work__back-side__container">
							<h3 class="latest-work__back-side__title">Some Project</h3>
							<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
							<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="latest-work__back-side__date-created">06/09/2019</div>
							<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
							Back Side
						</div>
					</div>
				</li>

				<li>
					<figure class="latest-work__figure">
						<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
						<img src="assets/images/mockup/3.jpg" alt="test image">
						<figcaption class="latest-work__figure__caption"></figcaption>
						<div class="latest-work__figure__container">
							<div class="latest-work__figure__title">branding content</div>
							<div class="latest-work__figure__comments">24</div>
						</div>
					</figure>
					<div class="latest-work__back-side">
						<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
						<div class="latest-work__back-side__container">
							<h3 class="latest-work__back-side__title">Some Project</h3>
							<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
							<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="latest-work__back-side__date-created">06/09/2019</div>
							<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
							Back Side
						</div>
					</div>
				</li>

				<li>
					<figure class="latest-work__figure">
						<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
						<img src="assets/images/mockup/4.png" alt="test image">
						<figcaption class="latest-work__figure__caption"></figcaption>
						<div class="latest-work__figure__container">
							<div class="latest-work__figure__title">branding content</div>
							<div class="latest-work__figure__comments">24</div>
						</div>
					</figure>
					<div class="latest-work__back-side latest-work__back-side--last">
						<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
						<div class="latest-work__back-side__container">
							<h3 class="latest-work__back-side__title">Some Project</h3>
							<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
							<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="latest-work__back-side__date-created">06/09/2019</div>
							<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
							Back Side
						</div>
					</div>
				</li>

			</ul>

			<ul class="latest-work__showcase">
				<li>
					<figure class="latest-work__figure">
						<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
						<img src="assets/images/mockup/5.jpg" alt="test image">
						<figcaption class="latest-work__figure__caption"></figcaption>
						<div class="latest-work__figure__container">
							<div class="latest-work__figure__title">branding content</div>
							<div class="latest-work__figure__comments">24</div>
						</div>
					</figure>
					<div class="latest-work__back-side latest-work__back-side--first">
						<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
						<div class="latest-work__back-side__container">
							<h3 class="latest-work__back-side__title">Some Project</h3>
							<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
							<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="latest-work__back-side__date-created">06/09/2019</div>
							<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
							Back Side
						</div>
					</div>
				</li>

				<li>
					<figure class="latest-work__figure">
						<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
						<img src="assets/images/mockup/6.jpg" alt="test image">
						<figcaption class="latest-work__figure__caption"></figcaption>
						<div class="latest-work__figure__container">
							<div class="latest-work__figure__title">branding content</div>
							<div class="latest-work__figure__comments">24</div>
						</div>
					</figure>
					<div class="latest-work__back-side">
						<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
						<div class="latest-work__back-side__container">
							<h3 class="latest-work__back-side__title">Some Project</h3>
							<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
							<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="latest-work__back-side__date-created">06/09/2019</div>
							<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
							Back Side
						</div>
					</div>
				</li>

				<li>
					<figure class="latest-work__figure">
						<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
						<img src="assets/images/mockup/7.jpg" alt="test image">
						<figcaption class="latest-work__figure__caption"></figcaption>
						<div class="latest-work__figure__container">
							<div class="latest-work__figure__title">branding content</div>
							<div class="latest-work__figure__comments">24</div>
						</div>
					</figure>
					<div class="latest-work__back-side">
						<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
						<div class="latest-work__back-side__container">
							<h3 class="latest-work__back-side__title">Some Project</h3>
							<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
							<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="latest-work__back-side__date-created">06/09/2019</div>
							<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
							Back Side
						</div>
					</div>
				</li>

				<li>
					<figure class="latest-work__figure">
						<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
						<img src="assets/images/mockup/8.jpg" alt="test image">
						<figcaption class="latest-work__figure__caption"></figcaption>
						<div class="latest-work__figure__container">
							<div class="latest-work__figure__title">branding content</div>
							<div class="latest-work__figure__comments">24</div>
						</div>
					</figure>
					<div class="latest-work__back-side latest-work__back-side--last">
						<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
						<div class="latest-work__back-side__container">
							<h3 class="latest-work__back-side__title">Some Project</h3>
							<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
							<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="latest-work__back-side__date-created">06/09/2019</div>
							<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
							Back Side
						</div>
					</div>
				</li>


			</ul>
		</div>
		<!-- </div> -->
	</section>

	<section class="section section--write-to-me">
		<div class="wrapper">
			<div class="write-to-me">
				<div class="write-to-me__title">Like what you see?</div>
				<div class="write-to-me__description text-generic">Feel free to write me a message for anything you think might need.</div>
				<a href="#" class="btn btn--orange write-to-me__btn">View More</a>
			</div>
		</div>
	</section>


	<section class="section section--testimonials">

		<div class="wrapper">

			<div class="testimonials">

				<div class="owl-one owl-carousel owl-theme">
					<div class="item">
						test
					</div>
					<div class="item">
						test
					</div>
					<div class="item">
						test
					</div>
					<div class="item">
						test
					</div>
				</div>

				<div class="my-owl-nav">
					<span class="my-next-button">
						<i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Next
					</span>
					<span class="my-prev-button">
						<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Prev
					</span>
				</div>

			</div>

		</div>


	</section>

	<section class="section section--pro-skills">
		<div class="wrapper">
			<h2 class="headline-4 u-margin-bottom-xsmall headline--stylish-white">Profesional Skills</h2>
			<div class="pro-skills">
				<div class="pro-skills__container">
					<div class="pro-skills__title">Design</div>
					<div class="pro-skills__skill">
						<div class="pro-skills__skill__title">Adobe Photoshop</div>
						<div class="pro-skills__skill__rating"><div class="counter" data-count="70">0</div></div>
						<div class="pro-skills__skill__progress-bar">
							<div class="pro-skills__skill__progress-bar__fill">
							</div>
						</div>
					</div>
					<div class="pro-skills__skill">
						<div class="pro-skills__skill__title">Adobe Illustrator</div>
						<div class="pro-skills__skill__rating"><div class="counter" data-count="95">0</div></div>
						<div class="pro-skills__skill__progress-bar">
							<div class="pro-skills__skill__progress-bar__fill">
							</div>
						</div>
					</div>
					<div class="pro-skills__skill">
						<div class="pro-skills__skill__title">Corel Draw</div>
						<div class="pro-skills__skill__rating"><div class="counter" data-count="35">0</div></div>
						<div class="pro-skills__skill__progress-bar">
							<div class="pro-skills__skill__progress-bar__fill">
							</div>
						</div>
					</div>

					<div class="pro-skills__title">Web Design / Developement</div>

					<div class="pro-skills__skill">
						<div class="pro-skills__skill__title">HTML</div>
						<div class="pro-skills__skill__rating"><div class="counter" data-count="50">0</div></div>
						<div class="pro-skills__skill__progress-bar">
							<div class="pro-skills__skill__progress-bar__fill">
							</div>
						</div>
					</div>
					
					
					<div class="pro-skills__skill">
						<div class="pro-skills__skill__title">CSS</div>
						<div class="pro-skills__skill__rating"><div class="counter" data-count="95">0</div></div>
						<div class="pro-skills__skill__progress-bar">
							<div class="pro-skills__skill__progress-bar__fill">
							</div>
						</div>
					</div>

					<div class="pro-skills__skill">
						<div class="pro-skills__skill__title">JavaScript</div>
						<div class="pro-skills__skill__rating"><div class="counter" data-count="80">0</div></div>
						<div class="pro-skills__skill__progress-bar">
							<div class="pro-skills__skill__progress-bar__fill">
							</div>
						</div>
					</div>

					<div class="pro-skills__skill">
						<div class="pro-skills__skill__title">NodeJS</div>
						<div class="pro-skills__skill__rating"><div class="counter" data-count="90">0</div></div>
						<div class="pro-skills__skill__progress-bar">
							<div class="pro-skills__skill__progress-bar__fill">
							</div>
						</div>
					</div>

					<div class="pro-skills__skill">
						<div class="pro-skills__skill__title">MongoDB</div>
						<div class="pro-skills__skill__rating"><div class="counter" data-count="75">0</div></div>
						<div class="pro-skills__skill__progress-bar">
							<div class="pro-skills__skill__progress-bar__fill">
							</div>
						</div>
					</div>

					<div class="pro-skills__skill__other text-generic">
						Other Notable <span class="infobox">Skills<span class="infobox__text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quibusdam suscipit quasi, ipsam, iure earum. Quibusdam nihil doloremque perspiciatis dolore porro recusandae quidem neque, ab cupiditate molestiae fugiat itaque beatae. cum repellat.</span></span>
					</div>
				</div>


			</div>
		</div>
		
	</section>

	<section class="section section--info">
		<div class="info text-generic">
			<div class="info__box">
				<div class="info__box__title">Title</div>
				<div class="info__box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fugit officiis porro pariatur nemo eius, autem impedit dolorum ipsum, deserunt facilis velit quibusdam sunt alias voluptatem repellendus repellat, voluptate non! Lorem ipsum dolor sit amet.</div>
				<a href="#" class="btn btn--transparent u-margin-top-xsmall">Stay in touch</a>	 

			</div>
			<div class="info__box">
				<div class="info__box__title">Title</div>
				<div class="info__box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fugit officiis porro pariatur nemo eius, autem impedit dolorum ipsum, deserunt facilis velit quibusdam sunt alias voluptatem repellendus repellat.</div>
				<a href="#" class="btn btn--transparent u-margin-top-xsmall">Stay in touch</a>	 

			</div>
			<div class="info__box">
				<div class="info__box__title">Title</div>
				<div class="info__box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto fugit officiis porro pariatur nemo eius, autem impedit dolorum ipsum, deserunt facilis velit quibusdam sunt alias voluptatem repellendus repellat, voluptate non!</div>
				<a href="#" class="btn btn--transparent u-margin-top-xsmall">Stay in touch</a>	 

			</div>
		</div>
	</section>

	<section class="section section--blogs">
		<div class="wrapper">
			<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Latest Blogs & Tutorials</h2>
			<div class="blogs text-generic">
				<div class="blogs__box">
						<div class="blogs__box__img">
							<img src="assets/images/hero.jpg" alt="blog">
						</div>
						<div class="blogs__box__title">Title</div>
						<div class="blogs__box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, a explicabo eligendi molestiae.</div>
						<div class="blogs__box__footer">
							<div class="blogs__box__footer__date">8/18/2019</div>
							<div class="blogs__box__footer__more">Read More</div>
						</div>
				</div>

				<div class="blogs__box">
						<div class="blogs__box__img">
							<img src="assets/images/hero.jpg" alt="blog">
						</div>
						<div class="blogs__box__title">Title</div>
						<div class="blogs__box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, a explicabo eligendi molestiae.</div>
						<div class="blogs__box__footer">
							<div class="blogs__box__footer__date">8/18/2019</div>
							<div class="blogs__box__footer__more">Read More</div>
						</div>
				</div>

				<div class="blogs__box">
						<div class="blogs__box__img">
							<img src="assets/images/hero.jpg" alt="blog">
						</div>
						<div class="blogs__box__title">Title</div>
						<div class="blogs__box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, a explicabo eligendi molestiae.</div>
						<div class="blogs__box__footer">
							<div class="blogs__box__footer__date">8/18/2019</div>
							<div class="blogs__box__footer__more">Read More</div>
						</div>
				</div>

				<div class="blogs__box">
						<div class="blogs__box__img">
							<img src="assets/images/hero.jpg" alt="blog">
						</div>
						<div class="blogs__box__title">Title</div>
						<div class="blogs__box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, a explicabo eligendi molestiae.</div>
						<div class="blogs__box__footer">
							<div class="blogs__box__footer__date">8/18/2019</div>
							<div class="blogs__box__footer__more">Read More</div>
						</div>
				</div>
			</div>
		</div>
	</section>




	<% include ./partials/footer %>
