<% include ./partials/header %>

 <header class="header-main">
 <span class="header-main__overlay">
    <svg class="header-main__wave" viewBox="0 0 1440 120" PreserveAspectRatio="none">
      <path fill="currentColor" d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
  </span>
  Some text...
  <!-- <div class="row"> -->
  	<div class="header-main__content">
  		<h1 class="header-main__title">Nikola Pavlov</h1>
  		<p class="header-main__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis velit, magnam adipisci sunt omnis corporis ad enim odit odio, quia quae fuga consectetur labore ex, perferendis laborum beatae, vitae architecto!</p>
  	</div>
  <!-- </div> -->
</header>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos inventore in esse eius libero repudiandae incidunt sed architecto ea magnam, mollitia iure maxime perspiciatis eveniet aspernatur laboriosam expedita, error. Nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse odit sequi illo quas rem ullam excepturi similique enim, dolores, blanditiis amet sed voluptates officia saepe autem ipsam, obcaecati eaque a.</p>


<% include ./partials/footer %>
