<% include ./partials/header %>
<header class="header-main">
	Some text...
</header>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos inventore in esse eius libero repudiandae incidunt sed architecto ea magnam, mollitia iure maxime perspiciatis eveniet aspernatur laboriosam expedita, error. Nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse odit sequi illo quas rem ullam excepturi similique enim, dolores, blanditiis amet sed voluptates officia saepe autem ipsam, obcaecati eaque a.</p>



<% include ./partials/footer %>
