<% var pageTitle = "Nikola Pavlov" %> 
<% var pageDescription = "This is the landing page of Nikola Pavlov pesonal webpage and portfolio. Here you can find more about me as well as my projects, portfolio, cv and the services i offer in graphic design and web design." %> 
<% var pageKeywords = "CV, Portfolio, Designer, Web Design, Graphic Design, Logo, Nikola Pavlov, Design, Developer, Project" %> 

<% include ./partials/header %>

<div class="hero">
	<div class="hero__background"></div>
	<div class="hero__content">
		<h1 class="hero__title u-margin-bottom-xsmall">Details Matter.</h1>
		<p class="hero__desc text-generic">Driving the initiative forward on-brand but completeley fresh it is all exactly as i said, but i don't like it so come up with something buzzworthy in an ideal world screw the pooch, or win-win. Blue sky rock Star/Ninja we need a paradigm shift.</p>
		<a href="/portfolio" class="btn btn--main u-margin-top-medium hero__btn">Portfolio</a> 	
	</div>
	<div class="hero__icons">
		<ul>
			<li class="hero__icons__icon hero__icons__icon__facebook icon icon--facebook-logo"></li>
			<li class="hero__icons__icon hero__icons__icon__instagram icon icon--instagram-logo"></li>
			<li class="hero__icons__icon hero__icons__icon__linkedin icon icon--linkedin-logo"></li>
			<li class="hero__icons__icon hero__icons__icon__email icon icon--envelope"></li>
			<li class="hero__icons__icon hero__icons__icon__skype icon icon--skype-logo"></li>
			<li class="hero__icons__icon hero__icons__icon__github icon icon--github-logo"></li>
		</ul>
	</div>
</div>

<section id="hi-there" class="section section--skills" data-matching-link="#hi-there-link">

	<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Hi There</h2>
	<div class="skills">
		<p class="skills__intro">My name is Nikola and i enjoy working as a</p>
		<div class="toggle">
			<div class="toggle__container">
				<div class="toggle__button toggle__choice--off">
					<div class="toggle__button__title toggle__button__title--one">Designer</div>	
				</div>					
				<div class="toggle__background">
					<div class="toggle__switch"></div>
				</div>
				<div class="toggle__button toggle__choice--on">

					<div class="toggle__button__title toggle__button__title--two">Developer</div>

				</div>
			</div>
		</div>

		<div class="wrapper">
			<div class="skills__container">
				<div class="skills__designer">
					<div class="skills__designer__container">
						<div class="skills__designer__info">
							<div class="skills__designer__info__front">
								<div class="skills__designer__info__front__img"></div>
							</div>
							<div class="skills__designer__info__back">
								<h4 class="skills__designer__info__back__title">
									Designer
								</h4>
								<div class="skills__designer__info__back__description text-generic u-margin-top-xsmall">
									Driving the initiative forward on-brand but completeley fresh it is all exactly
								</div>
							</div>
						</div>

						<div class="skills__designer__categories">
							<div class="skills__designer__categories__group">
								<div class="skills__designer__categories__icon">
									<div class="skills__designer__categories__icon__icon">
										
									</div>
									<div class="icon icon--eye skills__designer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__designer__categories__info">
									<div class="skills__designer__categories__info__title">Visualy Stunning</div>
									<div class="skills__designer__categories__info__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
								</div>
							</div>

							<div class="skills__designer__categories__group">
								<div class="skills__designer__categories__icon">
									<div class="skills__designer__categories__icon__icon">
										
									</div>
									<div class="icon icon--eye skills__designer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__designer__categories__info">
									<div class="skills__designer__categories__info__title">Visualy Stunning</div>
									<div class="skills__designer__categories__info__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
								</div>
							</div>

							<div class="skills__designer__categories__group">
								<div class="skills__designer__categories__icon">
									<div class="skills__designer__categories__icon__icon">
										
									</div>
									<div class="icon icon--eye skills__designer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__designer__categories__info">
									<div class="skills__designer__categories__info__title">Visualy Stunning</div>
									<div class="skills__designer__categories__info__description text-generic">LBlue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
								</div>
							</div>

							<div class="skills__designer__categories__group">
								<div class="skills__designer__categories__icon">
									<div class="skills__designer__categories__icon__icon">
										
									</div>
									<div class="icon icon--eye skills__designer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__designer__categories__info">
									<div class="skills__designer__categories__info__title">Visualy Stunning</div>
									<div class="skills__designer__categories__info__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="skills__developer">
					<div class="skills__developer__container">
						<div class="skills__developer__info">

							<div class="skills__developer__info__front">
								<div class="skills__developer__info__front__img"></div>
							</div>
							<div class="skills__developer__info__back">
								<h4 class="skills__developer__info__back__title">
									Website Developer
								</h4>
								<div class="skills__developer__info__back__description text-generic u-margin-top-xsmall">
									Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.
								</div>
							</div>
						</div>

						<div class="skills__developer__categories">
							<div class="skills__developer__categories__group">
								<div class="skills__developer__categories__icon">
									<div class="skills__developer__categories__icon__icon">
										
									</div>
									<div class="icon icon--eye skills__developer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__developer__categories__info">
									<div class="skills__developer__categories__info__title">Visualy Stunning</div>
									<div class="skills__developer__categories__info__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
								</div>
							</div>

							<div class="skills__developer__categories__group">
								<div class="skills__developer__categories__icon">
									<div class="skills__developer__categories__icon__icon">
										
									</div>
									<div class="icon icon--eye skills__developer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__developer__categories__info">
									<div class="skills__developer__categories__info__title">Visualy Stunning</div>
									<div class="skills__developer__categories__info__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
								</div>
							</div>

							<div class="skills__developer__categories__group">
								<div class="skills__developer__categories__icon">
									<div class="skills__developer__categories__icon__icon">
										
									</div>
									<div class="icon icon--eye skills__developer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__developer__categories__info">
									<div class="skills__developer__categories__info__title">Visualy Stunning</div>
									<div class="skills__developer__categories__info__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back</div>
								</div>
							</div>

							<div class="skills__developer__categories__group">
								<div class="skills__developer__categories__icon">
									<div class="skills__developer__categories__icon__icon">
										
									</div>
									<div class="icon icon--eye skills__developer__categories__icon__icon__img"></div>
								</div>
								<div class="skills__developer__categories__info">
									<div class="skills__developer__categories__info__title">Visualy Stunning</div>
									<div class="skills__developer__categories__info__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section id="digital-services" class="section section--digital-services" data-matching-link="#digital-services-link">
	<div class="digital-services">
		<div class="digital-services__left">
			<div class="digital-services__left__container">
				<h2 class="headline-4 u-margin-bottom-xsmall headline--stylish-1 digital-services__headline">Digital Services</h2>
				<p class="digital-services__left__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder backelit.</p>
				<div class="digital-services__left__group digital-services__left__group--1">
					<div class="digital-services__left__group__icon">
						<div class="digital-services__left__group__icon__img icon icon--eye"></div>
					</div>
					<div class="digital-services__left__group__title">Web Developement</div>
					<div class="digital-services__left__group__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
				</div>
				<div class="digital-services__left__group digital-services__left__group--2">
					<div class="digital-services__left__group__icon">
						<div class="digital-services__left__group__icon__img icon icon--eye"></div>
					</div>
					<div class="digital-services__left__group__title">Pixel Perfect Design</div>
					<div class="digital-services__left__group__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
				</div>
				<div class="digital-services__left__group digital-services__left__group--3">
					<div class="digital-services__left__group__icon">
						<div class="digital-services__left__group__icon__img icon icon--eye"></div>
					</div>
					<div class="digital-services__left__group__title">Branding</div>
					<div class="digital-services__left__group__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
				</div>
				<div class="digital-services__left__group digital-services__left__group--4">
					<div class="digital-services__left__group__icon">
						<div class="digital-services__left__group__icon__img icon icon--eye"></div>
					</div>
					<div class="digital-services__left__group__title">App Developement</div>
					<div class="digital-services__left__group__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back.</div>
				</div>
			</div>
		</div>
		<div class="digital-services__right">
			<div class="digital-services__right__img">
				<picture>
					<source srcset="https://res.cloudinary.com/dlw9kxuj0/image/upload/v1575491145/Site%20Gallery/Landing/hero.png" media="(min-width: 800px)">
					<img src="https://res.cloudinary.com/dlw9kxuj0/image/upload/v1575491145/Site%20Gallery/Landing/hero-small.png" alt="Main hero image">
				</picture>
				
			</div>
		</div>
	</div>
</section>

<section id="about-me" class="section section--about-me" data-matching-link="#about-me-link">
	<div class="about-me">
		<div class="about-me__left">
			<div class="about-me__left__img">
				<img src="assets/images/1980x1080.png" alt="test">
			</div>
		</div>
		<div class="about-me__right">
			<div class="about-me__right__container">
				<h2 class="headline-4 u-margin-bottom-xsmall headline--stylish-1 about-me__headline">About Me</h2>
				<p class="about-me__right__description text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder backBlue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder backBlue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder backBlue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder backBlue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder backBlue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back</p>
				
				<a href="#" class="btn btn--main about-me__btn">View More</a>
				<a href="#" class="btn btn--white--border about-me__btn">View More</a>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="wrapper">
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Everything starts with an idea.</h2>
		<p class="text-generic">Blue sky rock Star/Ninja we need a paradigm shift. Ladder up / ladder back <span class="infobox">inventory<span class="infobox__text" >the right people so deploy to production let's schedule a standup during the sprint to review our kpis. Drop-dead date we should leverage existing asserts that ladder up to the message nor that's not on the roadmap price point. Pro-sumer software. Drill down imagineer it's a simple lift and shift job on this journey. Can we align on lunch orders. In an ideal world. Can you slack it to me?</span></span> the right people so deploy to production let's schedule a standup during the sprint to review our kpis. Drop-dead date we should leverage existing asserts that ladder up to the message nor that's not on the roadmap price point. Pro-sumer software. Drill down imagineer it's a simple lift and shift job on this journey. Can we align on lunch orders. In an ideal world. Can you slack it to me?</p>
	</div>
</section>

<section id="logo-design" class="section section--logo-designer" data-matching-link="#logo-design-link">
	<div class="wrapper">
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1 logo-designer__title">Logo Design</h2>
		<div class="logo-designer">
			<div class="logo-designer__features logo-designer__features--1">
				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.</div>
				</div>

				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.</div>
				</div>

				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.</div>
				</div>
			</div>
			<div class="logo-designer__logo-animation">
				
				<div class="icon icon--replay logo-designer__btn-reload"></div>
				<div id="logo-reload" class="logo-design">
					<div class="logo-design__circle--red logo-design__circle--red--first"></div>
					<div class="logo-design__circle--red logo-design__circle--red--second"></div>
					<div class="logo-design__circle--red logo-design__circle--red--third"></div>
					<div class="logo-design__circle--red logo-design__circle--red--forth"></div>
					<div class="logo-design__rect--invisible"></div>
					<div class="logo-design__rect--blue"></div>
					<div class="logo-design__circle--yellow logo-design__circle--yellow--first"></div>
					<div class="logo-design__circle--yellow logo-design__circle--yellow--second"></div>
					<div class="logo-design__circle--yellow logo-design__circle--yellow--third"></div>
					<div class="logo-design__circle--green"></div>
					<div class="logo-design__logo-text logo-design__logo-text--left">Nikola</div>
					<div class="logo-design__logo-text logo-design__logo-text--right">Pavlov</div>
				</div>
			</div>

			<div class="logo-designer__features logo-designer__features--2">
				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.</div>
				</div>

				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.</div>
				</div>

				<div class="logo-designer__features__content">
					<div class="logo-designer__features__title">Title</div>
					<div class="logo-designer__features__description text-generic">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.</div>
				</div>
			</div>

			<div class="logo-designer__pencil">
				<div class="logo-designer__pencil__container">
					<img src="assets/images/pencil.png" alt="pencil">
				</div>
			</div>


			
		</div>
	</div>
</section>

<section id="mobile-ready" class="section section--mobile-ready" data-matching-link="#mobile-ready-link">
	<div class="wrapper">
		<div class="row">
			<div class="mobile-ready">
				<div class="col-1-of-2">
					<h2 class="headline-4 u-margin-bottom-medium headline--stylish-1 mobile-ready__title">Mobile Ready</h2>
					<p class="mobile-ready__description text-generic u-margin-bottom-medium">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.</p>
					<div class="mobile-ready__box text-generic">
						<div class="mobile-ready__box__container">
							<div class="mobile-ready__box__title">
								Best Design Possible
							</div>
							<div class="mobile-ready__box__extra-content mobile-ready__box__extra-content--is-visible">
								<div class="mobile-ready__box__extra-content__text">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.
								</div>
							</div>
							<div class="mobile-ready__box__more">-</div>
						</div>
					</div>

					<div class="mobile-ready__box text-generic">
						<div class="mobile-ready__box__container">
							<div class="mobile-ready__box__title">
								Best Design Possible
							</div>
							<div class="mobile-ready__box__extra-content">
								<div class="mobile-ready__box__extra-content__text">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.
								</div>
							</div>
							<div class="mobile-ready__box__more">+</div>
						</div>
					</div>

					<div class="mobile-ready__box text-generic">
						<div class="mobile-ready__box__container">
							<div class="mobile-ready__box__title">
								Best Design Possible
							</div>
							<div class="mobile-ready__box__extra-content">
								<div class="mobile-ready__box__extra-content__text">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.
								</div>
							</div>
							<div class="mobile-ready__box__more">+</div>
						</div>
					</div>

					<div class="mobile-ready__box text-generic">
						<div class="mobile-ready__box__container">
							<div class="mobile-ready__box__title">
								Best Design Possible
							</div>
							<div class="mobile-ready__box__extra-content">
								<div class="mobile-ready__box__extra-content__text">Crisp ppt i also believe it's important for every member to be involved and invested in our company and this is one way to do so manage expectations.
								</div>
							</div>
							<div class="mobile-ready__box__more">+</div>
						</div>
					</div>
				</div>
				<div class="col-1-of-2">
					<div class="mobile-ready__mobile">
						<div class="mobile-ready__mobile__img"></div>
						<div class="mobile-ready__mobile__content">
							<div class="owl-mobile owl-carousel owl-theme">
								<div class="item mobile-ready__mobile__content__item">
									
								</div>
								<div class="item mobile-ready__mobile__content__item">
									
								</div>
								<div class="item mobile-ready__mobile__content__item">
									
								</div>
								<div class="item mobile-ready__mobile__content__item">

								</div>
							</div>
						</div>
						<div class="my-owl-nav">
							<div class="mobile-ready__mobile__btn-container">
								<div class="my-next-button mobile-ready__mobile__btn">
									<div class="mobile-ready__mobile__next-btn__content">&lt;</div>
								</div>
								<div class="my-prev-button mobile-ready__mobile__btn">
									<div class="mobile-ready__mobile__prev-btn__content">&gt;</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--content-branding">
	<div class="content-branding">
		<div class="content-branding__overlay">
			<svg class="content-branding__wave" viewBox="0 0 1440 120" PreserveAspectRatio="none">
				<path fill="currentColor" d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
			</svg>
		</div>

		<div class="content-branding__content">
			<div class="wrapper">
				<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">
					Content Branding
				</h2>
			</div>
			<div class="content-branding__panorama"></div>
			<div class="wrapper">
				<div class="content-branding__description u-margin-top-small">
					Pulling teeth you better eat a reality sandwich before you walk back in that boardroom, but upstream selling and execute , locked and loaded, and single wringable neck are there any leftovers in the kitchen?.
				</div>
			</div>
		</div>
	</div>
</section>



<section class="section section--latest-work">
	<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">
		Latest Work
	</h2>
	<div class="latest-work">
		<ul class="latest-work__showcase">
			<li>
				<div class="latest-work__figure">
					<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon icon icon--flip-arrows"></div></div>
					<img src="assets/images/1980x1080.png" alt="test image">
					<div class="latest-work__figure__caption"></div>
					<div class="latest-work__figure__container">
						<div class="latest-work__figure__title">branding content</div>
						<div class="latest-work__figure__comments">24</div>
					</div>
				</div>
				<div class="latest-work__back-side">
					<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2 icon icon--flip-arrows"></div></div>
					<div class="latest-work__back-side__container">
						<h3 class="latest-work__back-side__title">Some Project</h3>
						<p class="latest-work__back-side__description">like to invite you to other activities on the day, including the interim and closing panel discussions</p>
						<div class="latest-work__back-side__technologies">like to invite you to other activities on the day, including the interim and closing panel discussions</div>
						<div class="latest-work__back-side__date-created">06/09/2019</div>
						<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
						Back Side
					</div>
				</div>
			</li> 	

			<li>
				<div class="latest-work__figure">
					<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon icon icon--flip-arrows"></div></div>
					<img src="assets/images/1980x1080.png" alt="test image">
					<div class="latest-work__figure__caption"></div>
					<div class="latest-work__figure__container">
						<div class="latest-work__figure__title">branding content</div>
						<div class="latest-work__figure__comments">24</div>
					</div>
				</div>
				<div class="latest-work__back-side">
					<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2 icon icon--flip-arrows"></div></div>
					<div class="latest-work__back-side__container">
						<h3 class="latest-work__back-side__title">Some Project</h3>
						<p class="latest-work__back-side__description">like to invite you to other activities on the day, including the interim and closing panel discussions</p>
						<div class="latest-work__back-side__technologies">like to invite you to other activities on the day, including the interim and closing panel discussions</div>
						<div class="latest-work__back-side__date-created">06/09/2019</div>
						<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
						Back Side
					</div>
				</div>
			</li>

			<li>
				<div class="latest-work__figure">
					<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon icon icon--flip-arrows"></div></div>
					<img src="assets/images/1980x1080.png" alt="test image">
					<div class="latest-work__figure__caption"></div>
					<div class="latest-work__figure__container">
						<div class="latest-work__figure__title">branding content</div>
						<div class="latest-work__figure__comments">24</div>
					</div>
				</div>
				<div class="latest-work__back-side">
					<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2 icon icon--flip-arrows"></div></div>
					<div class="latest-work__back-side__container">
						<h3 class="latest-work__back-side__title">Some Project</h3>
						<p class="latest-work__back-side__description">like to invite you to other activities on the day, including the interim and closing panel discussions.</p>
						<div class="latest-work__back-side__technologies">Screw the pooch new economy, a set of certitudes based on</div>
						<div class="latest-work__back-side__date-created">06/09/2019</div>
						<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
						Back Side
					</div>
				</div>
			</li>

			<li>
				<div class="latest-work__figure">
					<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon icon icon--flip-arrows"></div></div>
					<img src="assets/images/1980x1080.png" alt="test image">
					<div class="latest-work__figure__caption"></div>
					<div class="latest-work__figure__container">
						<div class="latest-work__figure__title">branding content</div>
						<div class="latest-work__figure__comments">24</div>
					</div>
				</div>
				<div class="latest-work__back-side latest-work__back-side--last">
					<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2 icon icon--flip-arrows"></div></div>
					<div class="latest-work__back-side__container">
						<h3 class="latest-work__back-side__title">Some Project</h3>
						<p class="latest-work__back-side__description">like to invite you to other activities on the day, including the interim and closing panel discussions.</p>
						<div class="latest-work__back-side__technologies">like to invite you to other activities on the day, including the interim and closing panel discussions.</div>
						<div class="latest-work__back-side__date-created">06/09/2019</div>
						<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
						Back Side
					</div>
				</div>
			</li>


			<li>
				<div class="latest-work__figure">
					<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon icon icon--flip-arrows"></div></div>
					<img src="assets/images/1980x1080.png" alt="test image">
					<div class="latest-work__figure__caption"></div>
					<div class="latest-work__figure__container">
						<div class="latest-work__figure__title">branding content</div>
						<div class="latest-work__figure__comments">24</div>
					</div>
				</div>
				<div class="latest-work__back-side latest-work__back-side--first">
					<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2 icon icon--flip-arrows"></div></div>
					<div class="latest-work__back-side__container">
						<h3 class="latest-work__back-side__title">Some Project</h3>
						<p class="latest-work__back-side__description">like to invite you to other activities on the day, including the interim and closing panel discussions.</p>
						<div class="latest-work__back-side__technologies">like to invite you to other activities on the day, including the interim and closing panel discussions.</div>
						<div class="latest-work__back-side__date-created">06/09/2019</div>
						<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
						Back Side
					</div>
				</div>
			</li>

			<li>
				<div class="latest-work__figure">
					<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon icon icon--flip-arrows"></div></div>
					<img src="assets/images/1980x1080.png" alt="test image">
					<div class="latest-work__figure__caption"></div>
					<div class="latest-work__figure__container">
						<div class="latest-work__figure__title">branding content</div>
						<div class="latest-work__figure__comments">24</div>
					</div>
				</div>
				<div class="latest-work__back-side">
					<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2 icon icon--flip-arrows"></div></div>
					<div class="latest-work__back-side__container">
						<h3 class="latest-work__back-side__title">Some Project</h3>
						<p class="latest-work__back-side__description">like to invite you to other activities on the day, including the interim and closing panel discussions</p>
						<div class="latest-work__back-side__technologies">like to invite you to other activities on the day, including the interim and closing panel discussions</div>
						<div class="latest-work__back-side__date-created">06/09/2019</div>
						<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
						Back Side
					</div>
				</div>
			</li>

			<li>
				<div class="latest-work__figure">
					<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon icon icon icon--flip-arrows"></div></div>
					<img src="assets/images/1980x1080.png" alt="test image">
					<div class="latest-work__figure__caption"></div>
					<div class="latest-work__figure__container">
						<div class="latest-work__figure__title">branding content</div>
						<div class="latest-work__figure__comments">24</div>
					</div>
				</div>
				<div class="latest-work__back-side">
					<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2 icon icon--flip-arrows"></div></div>
					<div class="latest-work__back-side__container">
						<h3 class="latest-work__back-side__title">Some Project</h3>
						<p class="latest-work__back-side__description">like to invite you to other activities on the day, including the interim and closing panel discussions.</p>
						<div class="latest-work__back-side__technologies">like to invite you to other activities on the day, including the interim and closing panel discussions.</div>
						<div class="latest-work__back-side__date-created">06/09/2019</div>
						<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
						Back Side
					</div>
				</div>
			</li>

			<li>
				<div class="latest-work__figure">
					<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon icon icon--flip-arrows"></div></div>
					<img src="assets/images/1980x1080.png" alt="test image">
					<div class="latest-work__figure__caption"></div>
					<div class="latest-work__figure__container">
						<div class="latest-work__figure__title">branding content</div>
						<div class="latest-work__figure__comments">24</div>
					</div>
				</div>
				<div class="latest-work__back-side latest-work__back-side--last">
					<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2 icon icon--flip-arrows"></div></div>
					<div class="latest-work__back-side__container">
						<h3 class="latest-work__back-side__title">Some Project</h3>
						<p class="latest-work__back-side__description">like to invite you to other activities on the day, including the interim and closing panel discussions.</p>
						<div class="latest-work__back-side__technologies">like to invite you to other activities on the day, including the interim and closing panel discussions.</div>
						<div class="latest-work__back-side__date-created">06/09/2019</div>
						<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
						Back Side
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="section section--write-to-me">
	<div class="wrapper">
		<div class="write-to-me">
			<h2 class="write-to-me__title">Like what you see?</h2>
			<div class="write-to-me__description text-generic">Feel free to write me a message for anything you think might need.</div>
			<a href="#" class="btn write-to-me__btn">View More</a>
		</div>
	</div>
</section>


<section class="section section--testimonials">

	<div class="wrapper">

		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">References</h2>

		<div class="testimonials">

			<div class="owl-one owl-carousel owl-theme testimonials__container">
				<div class="item testimonials__item">
					<div class="testimonials__item__img">
						<div class="testimonials__item__img__container">

							<img src="https://victorthemes.com/themes/havnor/lawyer/wp-content/uploads/sites/47/2018/02/law-testi4-350x350.png" alt="image">
						</div>
					</div>

					<div class="testimonials__item__box">
						<div class="icon icon--quotes testimonials__item__box__icon"></div>
						<div class="testimonials__item__box__title">Title</div>
						<div class="testimonials__item__box__sub-title">Some Sentense Here</div>
						<div class="testimonials__item__box__description text-generic">Out of the loop synergestic actionables. Screw the pooch new economy, a set of certitudes based on deductions founded on false premise no scraps hit the floor, and ping me blue sky so groom the backlog.</div>
					</div>
				</div>

				<div class="item testimonials__item">
					<div class="testimonials__item__img">
						<div class="testimonials__item__img__container">

							<img src="https://victorthemes.com/themes/havnor/lawyer/wp-content/uploads/sites/47/2018/02/law-testi4-350x350.png" alt="image">
						</div>
					</div>

					<div class="testimonials__item__box">
						<div class="icon icon--quotes testimonials__item__box__icon"></div>
						<div class="testimonials__item__box__title">Title</div>
						<div class="testimonials__item__box__sub-title">Some Sentense Here</div>
						<div class="testimonials__item__box__description text-generic">Out of the loop synergestic actionables. Screw the pooch new economy, a set of certitudes based on deductions founded on false premise no scraps hit the floor, and ping me blue sky so groom the backlog.</div>
					</div>
				</div>

				<div class="item testimonials__item">
					<div class="testimonials__item__img">
						<div class="testimonials__item__img__container">

							<img src="https://victorthemes.com/themes/havnor/lawyer/wp-content/uploads/sites/47/2018/02/law-testi4-350x350.png" alt="image">
						</div>
					</div>

					<div class="testimonials__item__box">
						<div class="icon icon--quotes testimonials__item__box__icon"></div>
						<div class="testimonials__item__box__title">Title</div>
						<div class="testimonials__item__box__sub-title">Some Sentense Here</div>
						<div class="testimonials__item__box__description text-generic">Out of the loop synergestic actionables. Screw the pooch new economy, a set of certitudes based on deductions founded on false premise no scraps hit the floor, and ping me blue sky so groom the backlog.</div>
					</div>
				</div>

				<div class="item testimonials__item">
					<div class="testimonials__item__img">
						<div class="testimonials__item__img__container">

							<img src="https://victorthemes.com/themes/havnor/lawyer/wp-content/uploads/sites/47/2018/02/law-testi4-350x350.png" alt="image">
						</div>
					</div>

					<div class="testimonials__item__box">
						<div class="icon icon--quotes testimonials__item__box__icon"></div>
						<div class="testimonials__item__box__title">Title</div>
						<div class="testimonials__item__box__sub-title">Some Sentense Here</div>
						<div class="testimonials__item__box__description text-generic">Out of the loop synergestic actionables. Screw the pooch new economy, a set of certitudes based on deductions founded on false premise no scraps hit the floor, and ping me blue sky so groom the backlog.</div>
					</div>
				</div>
			</div>

			<div class="my-owl-nav testimonials__btn-container">
				<span class="my-next-button testimonials__btn testimonials__btn--next">
					<i class="fa fa-arrow-circle-right" aria-hidden="true"></i> &lt;
				</span>
				<span class="my-prev-button testimonials__btn testimonials__btn--prev">
					<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> &gt;
				</span>
			</div>

		</div>

	</div>


</section>

<section class="section section--pro-skills">
	<div class="wrapper">
		<h2 class="headline-4 u-margin-bottom-xsmall headline--stylish-white">Profesional Skills</h2>
		<div class="pro-skills">
			<div class="pro-skills__container">
				<div class="pro-skills__title">Design</div>
				<div class="pro-skills__skill">
					<div class="pro-skills__skill__title">Adobe Photoshop</div>
					<div class="pro-skills__skill__rating"><div class="counter" data-count="70">0</div></div>
					<div class="pro-skills__skill__progress-bar">
						<div class="pro-skills__skill__progress-bar__fill">
						</div>
					</div>
				</div>
				<div class="pro-skills__skill">
					<div class="pro-skills__skill__title">Adobe Illustrator</div>
					<div class="pro-skills__skill__rating"><div class="counter" data-count="95">0</div></div>
					<div class="pro-skills__skill__progress-bar">
						<div class="pro-skills__skill__progress-bar__fill">
						</div>
					</div>
				</div>
				<div class="pro-skills__skill">
					<div class="pro-skills__skill__title">Corel Draw</div>
					<div class="pro-skills__skill__rating"><div class="counter" data-count="35">0</div></div>
					<div class="pro-skills__skill__progress-bar">
						<div class="pro-skills__skill__progress-bar__fill">
						</div>
					</div>
				</div>

				<div class="pro-skills__title">Web Design / Developement</div>

				<div class="pro-skills__skill">
					<div class="pro-skills__skill__title">HTML</div>
					<div class="pro-skills__skill__rating"><div class="counter" data-count="50">0</div></div>
					<div class="pro-skills__skill__progress-bar">
						<div class="pro-skills__skill__progress-bar__fill">
						</div>
					</div>
				</div>


				<div class="pro-skills__skill">
					<div class="pro-skills__skill__title">CSS</div>
					<div class="pro-skills__skill__rating"><div class="counter" data-count="95">0</div></div>
					<div class="pro-skills__skill__progress-bar">
						<div class="pro-skills__skill__progress-bar__fill">
						</div>
					</div>
				</div>

				<div class="pro-skills__skill">
					<div class="pro-skills__skill__title">JavaScript</div>
					<div class="pro-skills__skill__rating"><div class="counter" data-count="80">0</div></div>
					<div class="pro-skills__skill__progress-bar">
						<div class="pro-skills__skill__progress-bar__fill">
						</div>
					</div>
				</div>

				<div class="pro-skills__skill">
					<div class="pro-skills__skill__title">NodeJS</div>
					<div class="pro-skills__skill__rating"><div class="counter" data-count="90">0</div></div>
					<div class="pro-skills__skill__progress-bar">
						<div class="pro-skills__skill__progress-bar__fill">
						</div>
					</div>
				</div>

				<div class="pro-skills__skill">
					<div class="pro-skills__skill__title">MongoDB</div>
					<div class="pro-skills__skill__rating"><div class="counter" data-count="75">0</div></div>
					<div class="pro-skills__skill__progress-bar">
						<div class="pro-skills__skill__progress-bar__fill">
						</div>
					</div>
				</div>

				<div class="pro-skills__skill__other text-generic">
					Other Notable <span class="infobox">Skills<span class="infobox__text" >Out of the loop synergestic actionables. Screw the pooch new economy, a set of certitudes based on deductions founded on false premise no scraps hit the floor, and ping me blue sky so groom the backlog.</span></span>
				</div>
			</div>


		</div>
	</div>

</section>

<section class="section section--info">
	<div class="wrapper">
		<div class="info text-generic">
			<div class="info__box">
				<h3 class="info__box__title">Title</h3>
				<div class="info__box__description">Out of the loop synergestic actionables. Screw the pooch new economy, a set of certitudes based on deductions founded on false premise no scraps hit the floor, and ping me blue sky so groom the backlog.</div>
				<a href="#" class="btn btn--transparent u-margin-top-xsmall info__box__btn">Stay in touch</a>	 

			</div>
			<div class="info__box">
				<h3 class="info__box__title">Title</h3>
				<div class="info__box__description">Out of the loop synergestic actionables. Screw the pooch new economy, a set of certitudes based on deductions founded on false premise no scraps hit the floor, and ping me blue sky so groom the backlog.</div>
				<a href="#" class="btn btn--transparent u-margin-top-xsmall info__box__btn">Stay in touch</a>

			</div>
			<div class="info__box">
				<h3 class="info__box__title">Title</h3>
				<div class="info__box__description">Out of the loop synergestic actionables. Screw the pooch new economy, a set of certitudes based on deductions founded on false premise no scraps hit the floor, and ping me blue sky so groom the backlog.</div>
				<a href="#" class="btn btn--transparent u-margin-top-xsmall info__box__btn">Stay in touch</a> 
			</div>
		</div>
	</div>
</section>

<section class="section section--blogs" id="blogs">
	<div class="wrapper">
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Latest Blogs & Tutorials</h2>
		<div class="blogs text-generic">
			<div class="blogs__box">
				<div class="blogs__box__img">
					<img src="assets/images/1980x1080.png" alt="blog">
				</div>
				<div class="blogs__box__title">Title</div>
				<div class="blogs__box__description">Circle back viral engagement criticality yet nail jelly to the hothouse wall, but incentivization.</div>
				<div class="blogs__box__footer">
					<div class="blogs__box__footer__date">8/18/2019</div>
					<div class="blogs__box__footer__more">Read More</div>
				</div>
			</div>

			<div class="blogs__box">
				<div class="blogs__box__img">
					<img src="assets/images/1980x1080.png" alt="blog">
				</div>
				<div class="blogs__box__title">Title</div>
				<div class="blogs__box__description">Circle back viral engagement criticality yet nail jelly to the hothouse wall, but incentivization.</div>
				<div class="blogs__box__footer">
					<div class="blogs__box__footer__date">8/18/2019</div>
					<div class="blogs__box__footer__more">Read More</div>
				</div>
			</div>

			<div class="blogs__box">
				<div class="blogs__box__img">
					<img src="assets/images/1980x1080.png" alt="blog">
				</div>
				<div class="blogs__box__title">Title</div>
				<div class="blogs__box__description">Circle back viral engagement criticality yet nail jelly to the hothouse wall, but incentivization.</div>
				<div class="blogs__box__footer">
					<div class="blogs__box__footer__date">8/18/2019</div>
					<div class="blogs__box__footer__more">Read More</div>
				</div>
			</div>

			<div class="blogs__box">
				<div class="blogs__box__img">
					<img src="assets/images/1980x1080.png" alt="blog">
				</div>
				<div class="blogs__box__title">Title</div>
				<div class="blogs__box__description">Circle back viral engagement criticality yet nail jelly to the hothouse wall, but incentivization.</div>
				<div class="blogs__box__footer">
					<div class="blogs__box__footer__date">8/18/2019</div>
					<div class="blogs__box__footer__more">Read More</div>
				</div>
			</div>
		</div>
	</div>
</section>




<% include ./partials/footer %>
