<% include ./partials/header %>



<div class="hero">
	<div class="hero__background"></div>
	<div class="hero__overlay">
		<svg class="hero__wave" viewBox="0 0 1440 120" PreserveAspectRatio="none">
			<path fill="currentColor" d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
		</svg>
	</div>

	<div class="hero__content">
		<h1 class="hero__title u-margin-bottom-xsmall">Details Matter.</h1>
		<p class="hero__desc text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis velit, magnam adipisci sunt omnis corporis ad enim odit odio, quia quae fuga consectetur labore ex, perferendis laborum beatae, vitae architecto!</p>
		<a href="#" class="btn btn--main u-margin-top-xsmall">Stay in touch</a>	  	
	</div>
</div>

<section class="section">
	<div class="wrapper">
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Everything starts with an idea.</h2>
		<p class="text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos <span class="infobox">inventore<span class="infobox__text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quibusdam suscipit quasi, ipsam, iure earum. Quibusdam nihil doloremque perspiciatis dolore porro recusandae quidem neque, ab cupiditate molestiae fugiat itaque beatae. cum repellat.</span></span> in esse eius libero repudiandae incidunt sed architecto ea magnam, mollitia iure maxime perspiciatis eveniet aspernatur laboriosam expedita, error. Nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse odit sequi illo quas rem ullam excepturi similique enim, dolores, blanditiis amet sed voluptates officia saepe autem ipsam, obcaecati eaque a.</p>
	</div>
</section>

<section class="section section--logo-designer">
	<div class="wrapper">
		<div class="logo-designer">
			<div class="logo-designer__container logo-designer__container--left">
				<div class="logo-designer__btn-reload"></div>
				<div id="logo-reload" class="logo-design">
					<div class="logo-design__circle--red logo-design__circle--red--first"></div>
					<div class="logo-design__circle--red logo-design__circle--red--second"></div>
					<div class="logo-design__circle--red logo-design__circle--red--third"></div>
					<div class="logo-design__circle--red logo-design__circle--red--forth"></div>
					<div class="logo-design__rect--invisible"></div>
					<div class="logo-design__rect--blue"></div>
					<div class="logo-design__circle--yellow logo-design__circle--yellow--first"></div>
					<div class="logo-design__circle--yellow logo-design__circle--yellow--second"></div>
					<div class="logo-design__circle--yellow logo-design__circle--yellow--third"></div>
					<div class="logo-design__circle--green"></div>
					<div class="logo-design__logo-text logo-design__logo-text--left">Nikola</div>
					<div class="logo-design__logo-text logo-design__logo-text--right">Pavlov</div>
				</div>
			</div>
			<div class="logo-designer__container logo-designer__container--right">
				<div class="logo-designer__container--right__content">
					<div class="logo-designer__title-group"></div>
					<div class="logo-designer__icon u-margin-bottom-tiny"><img src="assets/images/logo-design.svg" alt="logo design icon"></div>
					<h2 class="logo-designer__title u-margin-bottom-small">Logo Design</h2>
					<p class="logo-designer__desc text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora iure aut saepe sed accusamus, eum harum eius quo quidem deserunt. Voluptatum explicabo magnam quibusdam, laudantium temporibus a. Quia, nesciunt, ea!</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--mobile-ready">
	<div class="wrapper">
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Mobile Ready</h2>
		<div class="row">
			<div class="mobile-ready">
				<div class="col-1-of-3">
					<div class="mobile-ready__phone">
						<div class="mobile-ready__phone__content">
							<h3 class="headline-6 u-center-horizontaly u-margin-bottom-small headline--stylish-1">Mobile Ready</h3>
							<div class="mobile-ready__phone__item">
								<h4 class="mobile-ready__phone__title">What can mobile optimization do for you?</h4>
								<p class="mobile-ready__phone__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut harum, nisi voluptatibus repudiandae possimus non tempora neque quasi, amet temporibus, dignissimos distinctio impedit, perferendis aspernatur ullam odio. Similique, modi, adipisci!</p>
							</div>

							<div class="mobile-ready__phone__item">
								<h4 class="mobile-ready__phone__title">What is Mobile Optimization?</h4>
								<div class="mobile-ready__phone__image-item u-margin-bottom-tiny">
									<img src="assets/images/responsive.jpg" alt="responsive design">
								</div>
								<p class="mobile-ready__phone__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloribus ea, quod obcaecati quae impedit iure totam? Eaque, earum, impedit! Quia esse non aliquam ea ducimus voluptas libero voluptatem autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, tempore incidunt, aut obcaecati quidem maiores, adipisci facilis itaque vero laborum sed blanditiis fugit quasi ducimus pariatur unde. Similique, commodi, excepturi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quidem hic nemo provident rerum, doloremque eveniet, perspiciatis voluptates, commodi ipsam ad harum, sit eaque eius expedita. Qui hic accusantium est!</p>
							</div>

							<div class="mobile-ready__phone__item">
								<h4 class="mobile-ready__phone__title">Page Speed</h4>
								<p class="mobile-ready__phone__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut harum, nisi voluptatibus repudiandae possimus non tempora neque quasi, amet temporibus, dignissimos distinctio impedit, perferendis aspernatur ullam odio. Similique, modi, adipisci!</p>
							</div>
						</div>
						<div class="mobile-ready__phone__image">
							<picture>
								<source srcset="assets/images/phone-with-content.png" media="(max-width: 1140px)" alt="mobile phone with content">
									<img src="assets/images/phone.png" alt="mobile phone">
								</picture>

							</div>
						</div>
					</div>
					<div class="col-2-of-3">
						<div class="mobile-ready__item-container">
							<div class="mobile-ready__item">
								<h3 class="mobile-ready__item__title">What can mobile optimization do for you?</h3>
								<p class="mobile-ready__item__desc text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium at praesentium voluptate doloremque eligendi commodi sunt voluptas quos molestias beatae rem temporibus consequatur ad necessitatibus, dolorum, expedita ullam totam nesciunt!</p>
							</div>

							<div class="mobile-ready__item">
								<h3 class="mobile-ready__item__title">What is Mobile Optimization?</h3>
								<div class="mobile-ready__item__image-item mobile-ready__item-image--floated-right">
									<img src="assets/images/responsive.jpg" alt="responsive design">
								</div>
								<p class="mobile-ready__item__desc text-generic">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur doloribus ea, quod obcaecati quae impedit iure totam? Eaque, earum, impedit! <span class="infobox">Laborums<span class="infobox__text" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum.</span></span> Quia esse non aliquam ea ducimus voluptas libero voluptatem autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								</p>

							</div>

							<div class="mobile-ready__item">
								<h3 class="mobile-ready__item__title">Page Speed</h3>
								<p class="mobile-ready__item__desc text-generic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, dolore aliquam iste minus? Iste quas, iure veniam tempore ratione voluptatum possimus eveniet autem aspernatur id, a illo veritatis ullam. Repellat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis obcaecati, sequi fugiat! Laborum eveniet eius, rerum sunt at ducimus inventore minima ea fugiat nisi labore ut sequi aliquid, neque aperiam?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--content-branding">
		<div class="content-branding">
			<div class="content-branding__overlay">
				<svg class="content-branding__wave" viewBox="0 0 1440 120" PreserveAspectRatio="none">
					<path fill="currentColor" d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
				</svg>
			</div>

			<div class="content-branding__content">
				<div class="wrapper">
					<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">
						Content Branding
					</h2>
				</div>
				<div class="content-branding__panorama"></div>
				<div class="wrapper">
					<div class="content-branding__description u-margin-top-small">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est aperiam dicta, nulla adipisci hic aliquid vitae maxime quisquam iste accusantium ipsam quae enim inventore velit magni cupiditate placeat in officiis!
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section--skills">
		<div class="skills">

			<div class="toggle">
				<div class="toggle__container">
					<div class="toggle__button toggle__choice--off">
						<div class="toggle__button__title toggle__button__title--one">Designer</div>	
					</div>					
					<div class="toggle__background">
						<div class="toggle__switch"></div>
					</div>
					<div class="toggle__button toggle__choice--on">

						<div class="toggle__button__title toggle__button__title--two">Developer</div>

					</div>
				</div>
			</div>

			<div class="wrapper">
				<div class="skills__container">
					<div class="skills__designer">
						<div class="skills__designer__container">
							<div class="skills__designer__image">
								image
							</div>
							<div class="skills__designer__description">
								<div class="skills__designer__icon"></div>
								<h3 class="skills__designer__title">
									Designer
								</h3>
								<p class="skills__designer__text">
									I value simple content structure, clean design patterns, and thoughtful interactions.
								</p>
							</div>
						</div>
					</div>

					<div class="skills__developer">
						<div class="skills__designer__container">
							<div class="skills__developer__image">
								image
							</div>
							<div class="skills__developer__description">
								<div class="skills__developer__icon"></div>
								<h3 class="skills__developer__title">
									Developer
								</h3>
								<p class="skills__developer__text">
									I value simple content structure, clean design patterns, and thoughtful interactions.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>

	<section class="section section--latest-work">
		<div class="wrapper">
			<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">
				Latest Work
			</h2>
			<div class="latest-work">
				<ul class="latest-work__showcase">
					<li>
						<figure class="latest-work__figure">
							<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
							<img src="assets/images/responsive.jpg" alt="test image">
							<figcaption class="latest-work__figure__caption">Some Project</figcaption>
						</figure>
						<div class="latest-work__back-side">
							<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
							<div class="latest-work__back-side__container">
								<h3 class="latest-work__back-side__title">Some Project</h3>
								<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
								<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
								<div class="latest-work__back-side__date-created">06/09/2019</div>
								<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
								Back Side
							</div>
						</div>
					</li>

					<li>
						<figure class="latest-work__figure">
							<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
							<img src="assets/images/responsive.jpg" alt="test image">
							<figcaption class="latest-work__figure__caption">Some Project</figcaption>
						</figure>
						<div class="latest-work__back-side">
							<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
							<div class="latest-work__back-side__container">
								<h3 class="latest-work__back-side__title">Some Project</h3>
								<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
								<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
								<div class="latest-work__back-side__date-created">06/09/2019</div>
								<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
								Back Side
							</div>
						</div>
					</li>

					<li>
						<figure class="latest-work__figure">
							<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
							<img src="assets/images/responsive.jpg" alt="test image">
							<figcaption class="latest-work__figure__caption">Some Project</figcaption>
						</figure>
						<div class="latest-work__back-side">
							<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
							<div class="latest-work__back-side__container">
								<h3 class="latest-work__back-side__title">Some Project</h3>
								<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
								<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
								<div class="latest-work__back-side__date-created">06/09/2019</div>
								<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
								Back Side
							</div>
						</div>
					</li>

					<li>
						<figure class="latest-work__figure">
							<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
							<img src="assets/images/responsive.jpg" alt="test image">
							<figcaption class="latest-work__figure__caption">Some Project</figcaption>
						</figure>
						<div class="latest-work__back-side">
							<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
							<div class="latest-work__back-side__container">
								<h3 class="latest-work__back-side__title">Some Project</h3>
								<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
								<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
								<div class="latest-work__back-side__date-created">06/09/2019</div>
								<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
								Back Side
							</div>
						</div>
					</li>

				</ul>

				<ul class="latest-work__showcase">
					<li>
						<figure class="latest-work__figure">
							<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
							<img src="assets/images/responsive.jpg" alt="test image">
							<figcaption class="latest-work__figure__caption">Some Project</figcaption>
						</figure>
						<div class="latest-work__back-side">
							<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
							<div class="latest-work__back-side__container">
								<h3 class="latest-work__back-side__title">Some Project</h3>
								<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
								<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
								<div class="latest-work__back-side__date-created">06/09/2019</div>
								<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
								Back Side
							</div>
						</div>
					</li>

					<li>
						<figure class="latest-work__figure">
							<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
							<img src="assets/images/responsive.jpg" alt="test image">
							<figcaption class="latest-work__figure__caption">Some Project</figcaption>
						</figure>
						<div class="latest-work__back-side">
							<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
							<div class="latest-work__back-side__container">
								<h3 class="latest-work__back-side__title">Some Project</h3>
								<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
								<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
								<div class="latest-work__back-side__date-created">06/09/2019</div>
								<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
								Back Side
							</div>
						</div>
					</li>

					<li>
						<figure class="latest-work__figure">
							<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
							<img src="assets/images/responsive.jpg" alt="test image">
							<figcaption class="latest-work__figure__caption">Some Project</figcaption>
						</figure>
						<div class="latest-work__back-side">
							<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
							<div class="latest-work__back-side__container">
								<h3 class="latest-work__back-side__title">Some Project</h3>
								<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
								<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
								<div class="latest-work__back-side__date-created">06/09/2019</div>
								<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
								Back Side
							</div>
						</div>
					</li>

					<li>
						<figure class="latest-work__figure">
							<div class="latest-work__switch-btn"><div class="latest-work__switch-btn__icon"></div></div>
							<img src="assets/images/responsive.jpg" alt="test image">
							<figcaption class="latest-work__figure__caption">Some Project</figcaption>
						</figure>
						<div class="latest-work__back-side">
							<div class="latest-work__switch-btn2"><div class="latest-work__switch-btn__icon2"></div></div>
							<div class="latest-work__back-side__container">
								<h3 class="latest-work__back-side__title">Some Project</h3>
								<p class="latest-work__back-side__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis optio accusantium aperiam neque a mollitia deserunt.</p>
								<div class="latest-work__back-side__technologies">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
								<div class="latest-work__back-side__date-created">06/09/2019</div>
								<a href="#" class="latest-work__back-side__btn btn btn--main btn--small">View More</a>
								Back Side
							</div>
						</div>
					</li>

					
				</ul>
			</div>
		</div>
	</section>

	<section class="section section--business-card">
		<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">
			Business Cards
		</h2>
		<div class="business-card--container">
			<div class="business-card">
				<div class="business-card--content">
					<img class="business-card--image" src="assets/images/business-card.jpg" alt="business card">
					<h1>Just hover around</h1>
					<p><small>by <a href="http://ariona.net" target="_blank">Ariona, Rian</a></small></p>
					<p class="related"><strong>See also: </strong><a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged dropdown animation</a></p>
				</div>
			</div>
		</div>
	</section>




	<% include ./partials/footer %>
