.about-me {

	
	display: flex;
	@include respond(1300) {
		display: block;
	}

	@include clearfix;

	&__left {
		
		flex: 1;
		position: relative;
		width: 50%;
		float: left;

		@include respond(1300) {
			width: 100%;
			float: none;
		}

		&__img {
			position: relative;
		}

		&__img img {
			width: 100%;
			height: 50rem;
			object-fit: cover;

			@include respond(1300) {
				height: 50rem;
			}

			@include respond(1000) {
				height: 40rem;
			}

			@include respond(700) {
				height: 30rem;
			}
		}
	}

	&__right {

		flex: 1;
		position: relative;
		width: 50%;
		background: #fcfcfc;
		float: left;
		overflow: hidden;

		@include respond(1300) {
			width: 100%;
			float: none;
		}

		&__container {
			@include clearfix;
			position: relative;
			width: 60rem;
			margin: 0 auto;
			padding: 10rem 0 10rem 0;

			@include respond(700) {
				width: 100%;
				padding: 10rem 5rem 10rem 5rem;
			}

			@include respond(500) {
				width: 100%;
				padding: 7rem 2rem 7rem 2rem;
			}
		}

		&__description {
			margin-bottom: 2.5rem;
		}
	}

	&__btn {
		margin-right: 2rem;
	}
}