.about-me {
	display: flex;

	@include respond(800) {
		flex-direction: column;
	}

	&__image {
		position: relative;
		// background: red;
		flex: 0 0 50%;

		& picture {
			display: flex;
			justify-content: flex-end;
			height: 100%;
		}

		@include respond(800) {
			flex: 0 0 100%;
			order: 1;
		}

		& img {
			width: 80%;
			display: block;
			border-radius: 1rem;
			object-fit: cover;

			@include respond(1100) {
				width: 90%;
			}

			@include respond(800) {
				width: 100%;
				margin-bottom: 3rem;
			}
		}
	}

	&__about {
		// background: green;
		flex: 0 0 50%;

		@include respond(800) {
			flex: 0 0 100%;
			order: 2;
		}
	}

	&__btn {
		margin-top: 5rem;
	}
}