.back-to-top {

	&__container {
		background: white;
		height: 7rem;
		width: 7rem;
		position: fixed;
		bottom: 2.5rem;
		right: 2.5rem;
		border-radius: 50%;
		z-index: 100;
		box-shadow: 0 1rem 3rem rgba(0,0,0,.15);
		display: none;

		@include respond(700) {
			width: 6rem;
			height: 6rem;
			right: 2rem;
			bottom: 2rem;
		}

		@include respond(500) {
			width: 5rem;
			height: 5rem;
		}

		&--visible {
			display: block;
		}
	}

	position: relative;
	background-color: var(--color-one);
	height: 7rem;
    width: 7rem;
    -webkit-mask-size: 40rem;
	border-radius: 50%;
	z-index: 102;
	cursor: pointer;
	backface-visibility: hidden;
	overflow: hidden;

	@include respond(700) {
		-webkit-mask-size: 35rem;
		height: 6rem;
		width: 6rem;
	}

	@include respond(500) {
		-webkit-mask-size: 28rem;
		height: 5.4rem;
		width: 5.4rem;
	}
	

	&__link {
		display: block;
		height: 7rem;
		width: 7rem;
	}
}