.contact {

	// @include clearfix;
	
	&__checkbox {
		display: none;
	}

	&__button {
		background-color: var(--color-whitish);
		height: 7rem;
		width: 7rem;
		position: fixed;
		top: 8rem;
		right: 2.5rem;
		border-radius: 50%;
		z-index: 102;
		box-shadow: 0 1rem 3rem rgba(0,0,0,.15);
		cursor: pointer;
		backface-visibility: hidden;

		@include respond(700) {
			width: 6rem;
			height: 6rem;
			right: 2rem;
			top: 2rem;
		}

		@include respond(500) {
			width: 5rem;
			height: 5rem;
		}

		@include respond(400) {
			right: 1rem;
			top: 1rem;
		}

		&--front {
			background-repeat: no-repeat;
			background-size: 3rem;
			background-position: center;

			&__icon {
				position: relative;
				height: 3.8rem !important;
				width: 3.8rem !important;
				-webkit-mask-size: 27rem;
				background: var(--color-one);
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			@include respond(700) {
				background-size: 2.5rem
			}

			@include respond(500) {
				background-size: 2rem;
			}
		}

		&--back {
			background-repeat: no-repeat;
			background-size: 3rem;
			background-position: center;

			&__icon {
				position: relative;
				height: 4rem !important;
				width: 4rem !important;
				-webkit-mask-size: 24rem;
				background: var(--color-one);
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			@include respond(700) {
				background-size: 2.5rem
			}

			@include respond(500) {
				background-size: 2rem;
			}
		}
	}

	&__background {
		position: fixed;
		width: 6rem;
		height: 6rem;
		opacity: 0;
		visibility: hidden;
		border-radius: 50%;
		top: 10rem;
		right: 5rem;
		z-index: 100;
		background-image: radial-gradient(var(--color-one), var(--color-two));
		transition: transform 1s cubic-bezier(0.86, 0, 0.03, 1), opacity 1s cubic-bezier(0.86, 0, 0.07, 1);
	}

	&__content {
		position: fixed;
		height: 100vh;
		width: 0;
		top: 0;
		right: 0;
		z-index: 101;
		opacity: 0;
		visibility: hidden;
		transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

		&__container {
			position: absolute;
			// background-color: red;
			@include center-content;
		}
	}

	&__checkbox:checked ~ &__background {
		transform: scale(80);
		opacity: 1;
		visibility: visible;
	}

	&__checkbox:checked ~ &__content {
		opacity: 1;
		visibility: visible;
		width: 100%;
	}

	&__checkbox:checked ~ &__button--front {
		animation: messageButtonFront 1s linear 1 both;
		z-index: 105;
	}

	&__checkbox:not(:checked) ~ &__button--front {
		animation: messageButtonFrontReturn 1s linear 1 both;
		z-index: 105;
	}

	&__checkbox:checked ~ &__button--back {
		animation: messageButtonBack 1s linear 1 both;
		z-index: 104;
	}

	&__checkbox:not(:checked) ~ &__button--back {
		animation: messageButtonBackReturn 1s linear 1 both;
		z-index: 105;
	}

	&__checkbox:not(:checked) ~ &__button {
		display: none;

		&--visible {
			display: block;
		}
	}

	&__checkbox:checked ~ .back-to-top {
		display: none;
	}
}