.feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        border: 1px solid rgba(193, 165, 123, 0.4);
        flex: 0 0 31%;
        padding: 5rem 3rem;
        transition: border 0.3s ease-out;
        border-radius: 1rem;

        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3) {
            margin-bottom: 4rem;
            @include respond(800) {
                margin-bottom: 2rem;
            }
        }

        &:nth-of-type(4) {
            @include respond(800) {
                margin-bottom: 2rem;
            }
        }

        &:nth-of-type(5) {
            @include respond(500) {
                margin-bottom: 2rem;
            }
        }

        @include respond(800) {
            flex: 0 0 48.5%;
        }

        @include respond(500) {
            flex: 0 0 100%;
        }

        &:hover {
            border: 1px solid rgba(193, 165, 123, 1);
        }

        &__title {
            font-size: 2.4rem;
            font-weight: bold;
            color: white;
        }

        &__icon {
            background: var(--color-three);
            height: 5rem !important;
            width: 5rem !important;
            -webkit-mask-size: 36rem;
        }
    }
}