.hero {
	position: relative;
	// height: 110vh;
	// background-image: linear-gradient(to right bottom, rgba(58, 175, 169, .95), rgba(43, 122, 120, .4)), url(../../images/hero4.jpg);
	// background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url(../../images/hero4.jpg);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;

	&__background {
		position: relative;
		height: 100vh;
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg);
		// background: var(--color-four);
		background-size: cover;
		background-position: top;
		background-attachment: fixed;

		@include respond(800) {
			background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url(https://res.cloudinary.com/dlw9kxuj0/image/upload/v1575491145/Site%20Gallery/Landing/hero-small.png);
		}

	}

	&__content {
		position: absolute;
		max-width: 60rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		@include respond(1000) {
			padding: 10rem 0 0 0;
		}

		@include respond(700) {
			width: 100%;
			padding: 7rem 2rem 0 2rem;
		}
	}

	&__title {
		color: var(--color-whitish);
		font-size: 8rem;
		line-height: 1.25;
		font-weight: bold;

		@include respond(1000) {
			font-size: 6rem;
		}

		@include respond(700) {
			font-size: 5rem;
		}
	}

	&__desc {
		color: var(--color-whitish);
		font-size: 2.8rem;
	}
}



