.latest-work {
	&__showcase {
		list-style: none;
		width: 100%;
		@include clearfix;

		& li {
			position: relative;
			display: block;
			float: left;
			width: 25%;
			padding: 1rem 0 1rem 1rem;
			perspective: 40rem;

			&:not(:last-child) {
				padding: 1rem;
			}

			&:first-child {
				padding: 1rem 1rem 1rem 0;
			}
		}
	}

	&__switch-btn {
		position: absolute;
		z-index: 15;
		height: 3.5rem;
		width: 3.5rem;
		top: 2rem;
		right: 2rem;
		background-color: var(--color-whitish);
		transition: all .3s ease-out;
		border-radius: 50%;
		
		&__icon {
			background: url(../../images/flip-arrows.svg);
			background-position: center;
			background-size: 2.5rem;
			height: 3.5rem;
			width: 3.5rem;
			background-repeat: no-repeat;
		}

		&__icon2 {
			background: url(../../images/flip-arrows.svg);
			background-position: center;
			background-size: 2.5rem;
			height: 3.5rem;
			width: 3.5rem;
			background-repeat: no-repeat;
		}
	}

	&__switch-btn2 {
		position: absolute;
		z-index: 15;
		height: 3.5rem;
		width: 3.5rem;
		top: 2rem;
		right: 2rem;
		border: 1px solid #ccc;
		background-color: var(--color-whitish);
		transition: all .3s ease-out;
		border-radius: 50%;
	}

	&__figure {
		overflow: hidden;
		position: relative;
		border-radius: 3rem;
		border: 1px solid #ccc;
		transition: all .8s ease-out;
		backface-visibility: hidden;
		transform: rotateY(0);
		cursor: pointer;

		&--is-visible {
			transform: rotateY(-180deg);
		}

		&:after {
			content:"";
			position: absolute;
			background-color: var(--color-black);
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			opacity: .3;
			transition: all .3s ease-out;
		}

		&:hover:after {
			opacity: 0;
		}

		&:hover img {
			transform: scale(1.1);
		}

		&:hover figcaption {
			height: 0;
			padding: 0 2.5rem;
		}

		& img {
			width: 100%;
			height: auto;
			transition: all .3s ease-out;
			height: 25rem;
			object-fit: cover;
		}

		& img:hover {
			background-color: red;
			transform: scale(1.1);
		}

		&__caption {
			background: var(--color-whitish);
			font-size: 1.5rem;
			width: 100%;
			bottom: -2rem;
			left: 0;
			
			position: absolute;
			z-index: 10;
			
			transition: all .3s ease-out;

			height: 8rem;
			padding: 2rem 2.5rem;
			text-align: center;
		}
	}

	&__back-side {
		position: absolute;
		background-color: var(--color-whitish);
		top: 1rem;
		border: 1px solid #ccc;
		border-radius: 3rem;
		left: 0;
		width: calc(100% - 1rem);
		height: calc(100% - 2rem);
		transition: all .8s ease-out;
		transform: rotateY(180deg);
		backface-visibility: hidden;
		cursor: pointer;
		font-size: 1.2rem;

		&--is-visible {
			transform: rotateY(0);
		}

		&__container {
			padding: 2rem;
		}

		&__title {
			font-size: 2rem;
			text-align: center;
			padding-bottom: 1rem;
		}

		&__description {
			color: var(--color-grey);
			padding-bottom: 1rem;
		}

		&__technologies {
			color: red;
			padding-bottom: 1rem;
		}

		&__date-created {
			position: absolute;
			bottom: 2rem;
			left: 2rem;
		}

		&__btn {
			position: absolute;
			bottom: 2rem;
			right: 2rem;
		}
	}
}