.loading-logo {

	position: relative;
	perspective: 28rem;

	@include respond(Medium) {
			display: none;	}

	&__container {
		position: relative;
		width: 10rem;
		height: 10rem;
		background-color: var(--color-whitish);
		left: calc(50% - 5rem);
	}

	&__logo {

		position: absolute;
		top: calc(50% - 3.5rem);
		left: calc(50% - 5rem);
		backface-visibility: hidden;
		height: 10rem;
		width: 10rem;
		border-radius: 1rem;
		border: 1px solid #ccc;

		&--front {
			animation: loadingLogoFront 5s linear infinite;

			&__img {
				width: 10rem !important;
				height: 10rem !important;
				background: var(--color-one);
				-webkit-mask-size: 62rem;
			}
		}

		&--back {
			animation: loadingLogoBack 5s linear infinite;

			&__img {
				width: 10rem !important;
				height: 10rem !important;
				background: var(--color-one);
				-webkit-mask-size: 62rem;
			}
		}

	}
}