.logo-designer {
	&__container {
		width: 50%;
		height: 50rem;
		float: left;
		position: relative;
		overflow: hidden;

		@include respond(Small) {
			width: 100%;
			height: 40rem;
			// Make logo designer without padding on small screens
			width: calc(100% + 4rem);
			@include center-horizontaly;
		}

		&--left {
			position: relative;
			background-image: radial-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 1)), url(../../images/lines.jpg);
			background-size: cover;
		}

		&--right {
			position: relative;
			background-image: linear-gradient(to right bottom, var(--color-one), var(--color-four));
			
			&__content {
				padding: 6rem;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				@include respond(Large) {
					padding: 4rem;
				}
			}
		}
	}

	&__title {
		color: var(--color-whitish);
		font-size: 5rem;
		text-align: center;
	}

	&__desc {
		color: var(--color-whitish);
	}

	&__icon {
		position: relative;
		& img {
			position: relative;
			width: 5rem;
			@include center-horizontaly;
		}
	}

	&__btn-reload {
		width: 3rem;
		height: 3rem;
		position: absolute;
		background-image: url(../../images/replay.svg);
		background-size: cover;
		z-index: 10;
		top: 5rem;
		@include center-horizontaly;
		animation: logoFadeIn 1s 7s ease-in-out 1 both, loopInfinite 1.5s 7s linear both infinite;
		cursor: pointer;
		opacity: .5;

		&--hidden {
			visibility: hidden;
		}
	}

	&__btn-reload__container {
		background: red;
		width: 5rem;
		height: 5rem;
		position: absolute;
		z-index: 30;
	}

}

