.mobile-ready {

	position: relative

	&__description {
		color: var(--color-grey-main);
	}

	&__box {
		position: relative;
		background: #eee;

		&__container {
			position: relative;
			width: 100%;

			position: relative;
			background: #efefef;
			width: 100%;
			padding: 0rem 0rem;
			margin-bottom: 2.5rem;
			overflow: hidden;
			box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);

			&::before {
				content: "";
				position: absolute;
				top:0; 
				left: 0;
				width: 3px;
				height: 100%;
				background-image: linear-gradient(to bottom, var(--color-one), var(--color-four));
			}
		}

		&__more {
			position: absolute;
			top: 0;
			right: 3rem;
			cursor: pointer;
			font-size: 3.4rem;
			font-weight: 800;
			color: var(--color-four);
		}

		&__extra-content {
			// display: none;
			// visibility: hidden;
			// opacity: 0;
			max-height: 0;
			padding: 0 4rem 0 4rem;
			background: var(--color-whitish);
			border-right: 1px solid #eee;
			border-bottom: 1px solid #eee;
			transition: all .3s ease-out;


			&--is-visible {
				max-height: 15rem;
			}

			&__text {
				padding: 1.5rem 0 2rem 0;
				font-weight: 100;
				color: var(--color-grey-main);
			}
		}

		&__title {
			position: relative;
			font-size: 1.8rem;
			font-weight: bold;
			padding: 1.5rem 4rem 1.5rem 4rem;
			cursor: pointer;
			z-index: 10;
		}
	}

	&__mobile {
		position: relative;
		height: 70rem;
		// background: yellow;

		&__img {
			position: relative;
			height: 100%;
			background-size: 32rem;
			background-repeat: no-repeat;
			background-position: top;
			background-image: (url("../../images/iphone.png"));
			z-index: 1;
		}

		&__content {
			position: absolute;
			top: 1.9rem;
			left: 50%;
			transform: translateX(-50%);
			width: 28.2rem;
			height: 60.9rem;
			background: yellow;
			overflow: hidden;
			border-radius: 2.6rem;
			z-index: 1;

			&__item {
				width: 100%;
				position: relative;
				background: red !important;
				height: 61rem !important;
				z-index: 2;
				background-image: url("../../images/screenshot.jpg") !important;
				background-size: cover !important;
			}
		}

		&__btn-container {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			top: -8rem;
			z-index: 3;
			font-size: 4rem;
			font-weight: bold;
			line-height: 1;
		}

		&__btn {
			display: inline-block;
			background: transparent !important;
			margin: 0 !important;
			height: 3rem;
			width: 3rem;
			position: relative;
			cursor: pointer;

			&__content {
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}