.nav-sub {
	background: var(--color-whitish);
	position: absolute;
	z-index: 102;
	transition: all .3s ease-out;
	transform-origin: 0 0;
	border-radius: 0 0 1rem 1rem;
	overflow: hidden;
	height: 0;
	border-left: 1px hidden var(--color-one);
	border-right: 1px hidden var(--color-one);
	border-bottom: 1px hidden var(--color-one);
	top: 4rem;

	&--is-visible {
		// transform: scaleY(1);
		height: 15rem;
		border-left: 1px solid var(--color-one);
		border-right: 1px solid var(--color-one);
		border-bottom: 1px solid var(--color-one);
	}

		&__item {
			position: relative;
			transition: all .2s ease-out;

			&:not(:last-child) {
			}

			&:hover {
				background: var(--color-three);
				// color: var(--color-whitish);
			}

			&__container {
				position: relative;
				padding: 1rem 2rem;
			}

			&__lang {
				position: relative;
				display: inline-block;
				@include center-verticaly;
				top: 4px;
			}

			&__icon {
				display: inline-block;
				position: relative;
				margin-right: .5rem;
				border-radius: 50%;
				width: 2.5rem;
				height: 2.5rem;
				top: 2px;

				&--eng {
					background: url("../../images/united-kingdom.svg");
				}

				&--mkd {
					background: url("../../images/macedonia.svg");
				}

				&--alb {
					background: url("../../images/albania.svg");
				}
			}
		}
	}