.testimonials {
	background: red;

	.owl-carousel {
		.item {
			background: yellow;
			height: 30rem;
		}

	}
}

/////////////////////


.item {
  background : #1ccacd;
  height: 100px;
}
.my-owl-nav {
  margin-top: 40px;
}
.my-owl-nav span {
  background:#eaeaea;
  padding: 20px;
  margin: 0 4px;
}

.my-owl-nav span:hover {
  cursor: pointer;
}