.testimonials {
	// background: red;
	color: var(--color-text);

	&__container {

	}

	&__item {

		padding: .5rem 0;

		@include clearfix;

		&__img {
			float: left;
			width: 20%;

			@include respond(700) {
				text-align: center;
				position: relative;
				left: 50%;
				top: 5rem;
				transform: translateX(-50%);
				z-index: 1;
				width: 10rem;
			}

			&__container {
				width: 80%;
				border-radius: 50%;
				background: var(--color-whitish);
				overflow: hidden;
				@include respond(700) {
					border: 3px solid var(--color-one);
					width: 100%;
				}
			}
		}

		&__box {
			position: relative;
			float: left;
			padding: 5rem;
			width: 80%;
			background-color: var(--color-whitish);
			border-radius: 1rem;
			box-shadow: 0 0 10px 0 rgba(0,0,0,.15);

			@include respond(700) {
				width: 100%;
				padding: 5rem 4rem;
			}

			&__title {
				font-size: 2.4rem;
				font-weight: bold;
			}

			&__sub-title {
				padding-bottom: 1.5rem;
				font-size: 1.6rem;
				opacity: .7;
			}

			&__description {
			}

			&::before {
				content:"";
				background-color: var(--color-whitish);
				position: absolute;
				top: 3rem;
				left: -2.4rem;
				width: 2.5rem;
				height: 2.5rem;
				clip-path: polygon(100% 0, 100% 100%, 35% 50%);

				@include respond(700) {
					display: none;
				}
			}

			&__icon {
				width: 7rem;
				height: 7rem;
				-webkit-mask-size: 52rem;
				position: absolute;
				background-color: var(--color-one);
				opacity: .2;
				top: 1rem;
				right: 1rem;
			}

		}
	}

	&__btn-container {
		text-align: right;
	}

	&__btn {
		padding: 0 !important;
		margin: 0 !important;
		font-size: 5rem;
		background-color: var(--color-whitish) !important;
		box-shadow: 0 0 1rem 0 rgba(0,0,0,.15);
		font-weight: 100;
		text-align: center;
		line-height: 1;
		border-radius: 50%;
		color: var(--color-one);
		z-index: 5;

		&--prev {
			position: absolute;
			top: 0;
			right: 0;
			width: 5rem;
			height: 5rem;
			@include respond(700) {
				top: 7rem;
				left: calc(50% + 3rem);
				transform: translateX(-50%);
			}
		}

		&--next {
			position: absolute;
			top: 0;
			right: 6rem;
			width: 5rem;
			height: 5rem;
			@include respond(700) {
				top: 7rem;
				left: calc(50% - 3rem);
				transform: translateX(-50%);
			}
		}
	}
}

/////////////////////

.testimonials .my-owl-nav {
	margin-top: 40px;
}

.testimonials .my-owl-nav span {
	background:#eaeaea;
	padding: 20px;
	margin: 0 4px;
}

.testimonials .my-owl-nav span:hover {
	cursor: pointer;
}