.contact-page {
	background: var(--color-whitish);
	box-shadow: 0 0 1rem 1rem rgba(0,0,0,.2);

	display: flex;
	flex-wrap: wrap;

	@include respond(600) {
		padding-top: 10rem;
		box-shadow: none;
	}

	&__get-in-touch {
		flex: 0 0 100%;
		padding: 8rem;
		display: flex;

		@include respond(800) {
			padding: 6rem;
		}

		@include respond(600) {
			padding: 4rem;
		}

		@include respond(500) {
			padding: 4rem 2rem;
		}

		&__container {
			flex: 0 0 40%;

			@include respond(1100) {
				display: flex;
				flex-wrap: wrap;
				flex: 1;
			}
		}

		&__icons {
			margin-top: 5rem;

			@include respond(1100) {
				flex: 0 0 50%;
				margin-top: 0;
				padding-left: 12rem;
			}

			@include respond(800) {
				padding-left: 8rem;
				flex: 0 0 100%;
				padding-left: 0;
				margin-top: 1rem;
				display: flex;
				flex-wrap: wrap;
			}

			&__item {
				display: flex;
				margin-bottom: 1rem;
				align-items: center;

				@include respond(800) {
					margin-right: 2rem;
				}

				&__icon {
					-webkit-mask-size: 20rem;
					width: 3rem;
					height: 3rem;
					background-color: var(--color-four);
				}

				&__text {
					font-size: 1.4rem;
					margin-top: .25rem;
					margin-left: 1rem;

					@include respond(800) {
						margin-left: .15rem;
					}
				}
			}
		}
	}

	&__find-me-online {
		background: var(--color-two);
		flex: 0 0 100%;
		padding: 8rem;
		color: var(--color-whitish);

		@include respond(800) {
			padding: 6rem;
		}

		@include respond(600) {
			padding: 4rem;
		}

		@include respond(500) {
			padding: 4rem 2rem;
		}

		&__icons {

			display: flex;

			@include respond(600) {
				justify-content: center;
			}

			&__icon {
				width: 4rem;
				height: 4rem;
				-webkit-mask-size: 25rem;
				background: var(--color-three);
				transition: transform .2s ease-out;

				&:hover {
					transform: scale(1.15);
				}
			}
		}
	}

	&__view-portfolio {
		flex: 0 0 100%;
		padding: 8rem;
		background-image: url("../../images/Contact-portfolio.jpg");
		background-position: cover;
		background-position: right;

		&__btn {
			@include respond(600) {
				width: 100%;
				text-align: center;
			}
		}


		@include respond(900) {
			background-position: center;
		}

		@include respond(800) {
			padding: 6rem;
		}

		@include respond(600) {
			padding: 4rem;
			background: var(--color-whitish);
		}

		@include respond(500) {
			padding: 4rem 2rem;
		}
	}

	&__heading {
		font-size: 2.2rem;

		@include respond(1100) {
			flex: 0 0 100%;
		}

		@include respond(600) {
			text-align: center;
		}

		&.white {
			color: var(--color-whitish);
		}
	}

	&__form {
		position: absolute;
		top: 8rem;
		right: 8rem;
		background: var(--color-whitish);
		padding: 5rem;
		box-shadow: 0 0 1rem 1rem rgba(0,0,0,.1);
		border-radius: 1rem;

		&__container {

		}

		@include respond(1100) {
			position: relative;
			top: 0;
			right: 0;
			width: 100%;
			box-shadow: none;
			border-top: 1px solid var(--color-grey-light);
			border-radius: 0;
		}

		@include respond(800) {
			padding: 6rem;
		}

		@include respond(600) {
			padding: 4rem;
		}

		@include respond(500) {
			padding: 4rem 2rem;
		}
	}

	&__text {
		font-size: 1.4rem;
		color: var(--color-grey);
		margin: 2.5rem 0;
		line-height: 1.6;
		max-width: 40rem;

		@include respond(1100) {
			flex: 0 0 50%;
		}

		@include respond(800) {
			flex: 0 0 100%;
			max-width: 100%;
		}

		&.white {
			color: var(--color-whitish);
		}
	}

	&__wrapper {
		@include respond(600) {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}