.cv {

	color: var(--color-text);

	& p {
		line-height: 1.5;
		color: var(--color-two);
	}

	&__pdf {
		position: absolute;
		top: 1rem;
		right: 1.5rem;
		display: flex;
		cursor: pointer;
		transition: all .2s ease-out;

		@include respond(700) {
			color: var(--color-whitish);
		}

		&:hover {
			transform: scale(1.075);
			color: var(--color-one);
		}

		&:hover &__icon {
			background-color: var(--color-one);
		}

		&__icon {
			background-color: var(--color-two);
			display: inline-block;
			width: 2.5rem;
			height: 2.5rem;
			-webkit-mask-size: 18rem;
			transform: translate(5px, -4px);
			transition: all .2s ease-out;

			@include respond(700) {
				background-color: var(--color-whitish);
			}
		}

		&__text {
			margin-left: 1rem;
		}
	}

	&__container {
		position: relative;
		background-color: var(--color-whitish);
		max-width: 114rem;
		margin: 0 auto;
		min-height: 80rem;
		box-shadow: 0 0 1rem 0 rgba(0,0,0,.15);
		font-size: 1.6rem;
		border-radius: 1rem;
		overflow: hidden;

		@include respond(700) {
			border-radius: 0;
		}
	}

	&__content {

		display: flex;

		@include respond(700) {
			flex-direction: column;
		}

		&__title {
			font-size: 2.8rem;
			font-weight: bold;
			text-transform: uppercase;
			border-bottom: 3px solid var(--color-whitish);
			padding-bottom: .4rem;
			margin-bottom: 3rem;

			@include respond(700) {
				text-align: center;
			}

			&--black {
				border-bottom: 3px solid var(--color-two);
				color: var(--color--two);
			}
		}

		&__side {
			background-color: var(--color-two);
			color: var(--color-whitish);
			font-weight: 100;
			flex: 0 0 33.33%;
			padding: 0 4rem;

			display: flex;
			flex-direction: column;

			@include respond(900) {
				padding: 0 3rem;
			}

			@include respond(500) {
				padding: 0 2rem;
			}


			&__photo {
				margin: 4rem 0;
				width: 100%;
				display: flex;
				justify-content: center;

				& img {
					width: 16rem;
					height: 16rem;
					border-radius: 50%;
					border: 1rem solid var(--color-one);
					box-sizing: content-box;
				}
			}

			&__contact {
				margin-bottom: 3.5rem;

				&__items {
					list-style: none;
				}

				&__item {

					&:not(:last-child) {
						margin-bottom: 2rem;

						@include respond(700) {
							margin-bottom: 2.5rem;
							text-align: center;
						}
					}

					display: flex;
					align-items: center;

					@include respond(700) {
						flex-direction: column;
					}

					&__icon {
						position: relative;
						background-color: var(--color-whitish);
						width: 3rem;
						height: 3rem;
						min-width: 3rem;
						margin-right: 1.5rem;
						border-radius: 50%;

						display: flex;
						align-items: center;
						justify-content: center;

						&__img {
							-webkit-mask-size: 18rem;
							background: var(--color-two);
							width: 3rem;
							height: 3rem;
						}

						@include respond(700) {
							margin-bottom: .5rem;
							width: 2.5rem;
							height: 2.5rem;
							min-width: 2.5rem;
						}
					}

					&__desc {
						@include respond(700) {
							text-align: center;
						}
					}
				}
			}

			&__skills {

				margin-bottom: 3.5rem;

				&__items {
					list-style: none;
				}

				&__item {

					&:not(:last-child) {
						margin-bottom: 2rem;
					}

					&__title {
						margin-bottom: 5px;
					}

					&__progress-bar {

						height: 2rem;
						background: var(--color-one);

						&__fill {
							width: 70%;
							height: 2rem;
							background: var(--color-three);

							&.fill-1 {width: 75%;}
							&.fill-2 {width: 80%;}
							&.fill-3 {width: 90%;}
							&.fill-4 {width: 60%;}
							&.fill-5 {width: 70%;}
							&.fill-6 {width: 95%;}
						}
					}
				}

			}

			&__languages {

				margin-bottom: 3.5rem;

				&__items {
					list-style: none;
				}

				&__item {

					display: flex;
					align-items: center;

					&:not(:last-child) {
						margin-bottom: 2rem;
					}

					&__title {
						margin-right: auto;
					}

					&__icons {

						display: flex;

						&__icon {
							height: 2.75rem;
							width: 2.75rem;
							background: var(--color-whitish);
							border-radius: 50%;

							display: flex;
							align-items: center;
							justify-content: center;

							&__img {
								-webkit-mask-size: 15rem;
								background: var(--color-two);
								width: 2.5rem;
								height: 2.5rem;

								&.icon-color {
									background: var(--color-two);
								}
							}

							@include respond(900) {
								height: 2.25rem;
								width: 2.25rem;
							}

							@include respond(500) {
								height: 2.75rem;
								width: 2.75rem;
							}

							&:not(:last-child) {
								margin-right: 2.5rem;

								@include respond(900) {
									margin-right: 1.5rem;
								}

								@include respond(500) {
									margin-right: 2.5rem;
								}
							}
						}
					}
				}
			}
		}

		&__main {
			background-color: var(--color-whitish);
			flex: 1;
			padding: 4rem;

			@include respond(900) {
				padding: 3rem;
			}

			@include respond(500) {
				padding: 2rem;
			}

			&__title {
				font-size: 5rem;
				font-weight: bold;
				text-transform: uppercase;

				@include respond(700) {
					text-align: center;
					margin-top: 2.25rem;
				}
			}

			&__subtitle {
				letter-spacing: 3;
				font-size: 2rem;
				font-weight: 100;
				margin-bottom: 5rem;

				@include respond(700) {
					text-align: center;
				}
			}

			&__statement {

				margin-bottom: 3rem;

				&__text {
					
				}
			}

			&__work-experience {
				margin-bottom: 3rem;
			}

			&__education {
				margin-bottom: 3rem;
			}

			&__certificates {
			}

			&__section {

				&__items {
					list-style: none;
				}

				&__item {

					display: flex;

					&:not(:last-child) {
						// margin-bottom: 2.5rem;
					}

					&__timeline {
						flex: 0 0 3rem;
						margin-right: 2rem;

						display: flex;
						flex-direction: column;
						align-items: center;

						&__icon {
							height: 3rem;
							width: 100%;
							flex: 0 0 3rem;
							border-radius: 50%;
							background: transparent;
							border: 3px solid var(--color-two);
							margin: .75rem 0;
						}

						&__line {
							background: var(--color-one);
							height: 100%;
							width: 2px;

							// &:not(.timeline--last) {
								// 	margin: .75rem 0;
								// }
							}
						}

						&__content {

						}

						&__top {

							display: flex;

							&__title {
								margin-right: auto;
								font-size: 2rem;
								font-weight: bold;
							}

							&__date {

							}

						}

						&__subtitle {
							font-size: 1.4rem;
						}

						&__text {

							&:not(.last) {
								padding: 2rem 0 3rem 0;
							}

							&.last {
								padding: 2rem 0 0 0;
							}
						}
					}

				}
			}
		}
	}