.inbox {
	&__content {
		
	}

	&__messages {
		&__items {
			list-style: none;
			border: 1px solid #ccc;
		}

		&__item {

			cursor: pointer;
			position: relative;

			border-bottom: 1px solid #ccc;

			&__header {
				display: flex;
				padding: 0.5rem;
				align-items: center;
				// justify-content: space-between;
			}

			&__main {

				// display: none;
				visibility: hidden;
				opacity: 0;
				max-height: 0;
				transition: max-height .3s ease-out;
				

				&__head {
					// background-color: var(--color-light-grey);
					padding: 0.5rem 2rem;
					display: flex;

					&__name {
					}

					&__email {
						margin-right: 1rem;
					}

					&__subject {
					}

					&__timestamp {
						color: var(--color-grey);
					}

				}

				

				

				&__content {
					padding: 2rem;

					&__message {
					}
				}
			}

			&:hover {
				box-shadow: 0 0 1rem 0 rgba(0,0,0,.25);
			}

			&:hover &__elements {
				display: flex;
			}

			&__elements {
				position: absolute;
				background: white;
				height: 100%;
				right: 0;
				padding: 0 2rem;
				display: none;
				align-items: center;

				&__icons {
					display: flex;
				}

				&__reply {

				}

				&__delete {
					margin-left: 2rem;
				}
			}
		}

		&__image {
			background-color: grey;
			width: 3.5rem;
			height: 3.5rem;
			flex: 0 0 3.5rem;
			margin-right: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;

			&__letter {
				font-size: 2rem;
				font-weight: bold;
				color: white;
			}
		}

		&__name {
			flex: 0 0 20rem;
		}

		&__subject {
			flex: 0 0 20rem;
		}

		&__message {
			flex: 0 0 60rem;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}

		&__date {
			// margin-right: .5rem;
			margin-left: auto;
			color: var(--color-grey);
		}

		&__time {
			color: var(--color-grey);
		}
	}
}


.inbox__messages__item__main.inbox__messages__item__main--is-visible {
	// display: block;
	max-height: 20rem;
	
	opacity: 1;
	visibility: visible;
}