.login {
	box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
	@include clearfix;
	border-radius: 2rem;
	overflow: hidden;
	display: flex;
	max-width: 60rem;
	    left: 50%;
    transform: translateX(-50%);

	@include respond(800) {
		display: block;
	}


	&__login-side {
		background: var(--color-whitish);
		border-radius: 2rem 0 0 2rem;
		flex: 0 0 100%;

		@include respond(800) {
			width: 100%;
			float: none;
			border-radius: 2rem 2rem 0 0;
		}

		&__container {
			padding: 7rem;
			@include respond(1000) {
				padding: 5rem;
			}
		}

		&__desc {
			text-align: center;
			color: var(--color-grey);
		}

		&__sign-up {
			text-align: center;
		}
	}
}