.portfolio {

	font-size: 1.6rem;
	&__container {
		max-width: 120rem;
		margin: 0 auto;
		background: var(--color-whitish);
	}

	&__header {

		display: flex;
		align-items: center;
		border-bottom: 1px solid var(--color-grey-light);

		@include respond(500) {
			flex-wrap: wrap;
			height: 18rem;
			align-content: space-around;
		}

		&__search {
			margin-right: auto;
			// background: green;
			flex: 0 0 40%;
			margin-left: 2rem;

			@include respond(1000) {
				flex: 0 0 50%;
			}

			@include respond(800) {
				flex: 0 0 60%;
			}

			@include respond(700) {
				flex: 0 0 62%;
			}

			@include respond(500) {
				order: 1;
				flex: 0 0 100%;
				background-color: var(--color-grey-light);
				margin-left: 0;
			}

			&__form {
				display: flex;
			}

			&__input {
				font-family: inherit;
				font-size: inherit;
				background-color: var(--color-grey-light);
				border: none;
				color: inherit;
				padding: 1.25rem 2rem;
				width: 90%;
				transition: all .3s ease-out;
				margin-right: -3.5rem;

				@include respond(500) {
					margin-right: -5rem;
					width: 100%;
					padding: 2rem 2rem;
				}

				&:focus {
					outline: none;
					width: 100%;
				}

				&::-webkit-input-placeholder {
					font-weight: 100;
					opacity: .5;
				}
			}

			&__btn {
				border: none;
				background-color: var(--color-grey-light);
				cursor: pointer;

				&:focus {
					outline: none;
				}

				&:active {
					transform: translateY(2px);
				}
			}

			&__icon {
				display: block;
				background-color: var(--color-one);
				-webkit-mask-image: url("../../images/search.svg");
				-webkit-mask-size: 2rem;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				height: 2.5rem;
				width: 2.5rem;
			}
		}

		&__features {
			display: flex;

			@include respond(500) {
				width: 100%;
				justify-content: center;
			}
		}

		&__grid {
			padding: 3rem 3rem;
			cursor: pointer;

			&--is-active {
				background: var(--color-three);
			}

			&__img {
				background: var(--color-one);
				height: 2rem;
				width: 2rem;
				-webkit-mask-image: url("../../images/grid.svg");
				-webkit-mask-size: 2rem;
			}
		}

		&__list {
			padding: 3rem 3rem;
			cursor: pointer;

			&--is-active {
				background: var(--color-three);
			}

			&__img {
				background: var(--color-one);
				height: 2rem;
				width: 2rem;
				-webkit-mask-image: url("../../images/list.svg");
			}
		}
	}

	&__content {
		display: flex;
	}

	&__nav {
		background: var(--color-whitish);
		border-right: 1px solid var(--color-grey-light);
		flex: 0 0 20%;

		@include respond(1000) {
			flex: 0 0 25%;
		}

		@include respond(800) {
			flex: 0 0 30%;
		}

		@include respond(800) {
			display: none;
		}

		&__group {

			max-height: 20rem;
			height: auto;
			overflow: hidden;
			transition: all .3s ease-out;

			&--is-closed {
				height: auto;
				max-height: 0;
			}

			& ul {
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				font-size: 1.4rem;
				padding: 1rem;
			}

			& ul li {
				flex: 0 0 50%;
			}

			& ul li div {
				background-color: var(--color-whitish);
				margin-bottom: 1rem;
				padding: 1rem 1.5rem;
				border-radius: 5px;
				text-align: center;
				border: 1px solid var(--color-grey-light);

				&:hover {
					background-color: var(--color-grey-light);
				}

				&.active {
					background: var(--color-three);
				}
			}

			& ul li:nth-child(odd) div {
				margin-right: 1rem;
			}
		}

		&__filter {

			background: var(--color-whitish);
			border-bottom: 1px solid var(--color-grey-light);

			&__heading {
				text-align: center;
				font-size: 2rem;
				padding: 2rem;
				min-height: 7rem;
				font-weight: bold;
				color: var(--color-two);
				border-bottom: 1px solid var(--color-grey-light);
			}

			&__header {
				background: var(--color-whitish);
				display: flex;
				padding: 1rem;
				cursor: pointer;

				&:hover {
					background: var(--color-grey-light);
				}
			}

			&__title {

			}

			&__icon {
				margin-left: auto;
				width: 2rem;
				height: 2rem;
				background: var(--color-two);
				-webkit-mask-image: url("../../images/close.svg");
				-webkit-mask-size: 1.4rem;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				transition: all .4s ease-out;

				&--is-closed {
					transform: rotate(405deg);
				}
			}
		}
	}

	&__main {
		flex: 1;
		position: relative;
		padding-bottom: 5rem;

		&__group {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			padding: 1rem;
		}
	}


	&__item {

		position: relative;
		background: var(--color-whitish);
		border: 1px solid var(--color-grey-light);
		box-shadow: 0 0rem .75rem rgba(0,0,0,.15);
		flex: 1 0 27rem;
		// padding: 1rem;
		margin: 1rem;
		border-radius: 1rem;
		overflow: hidden;

		display: flex;
		flex-direction: column;

		&__title {
			font-size: 2rem;
		}

		&:hover &__image::after {
			transform: scale(1);
			opacity: .75;
			background-size: 3rem;
		}

		&__image {

			position: relative;
			height: 20rem;
			background: grey;
			width: 100%;
			// max-width: 25rem;

			& img {
				display: block;
				width: 100%;
				height: 20rem;
				object-fit: cover;
			}

			&::after {
				content: "View More";
				background: white;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				padding-top: 12rem;
				opacity: 0;
				background-image: url("../../images/more.svg");
				background-size: 0rem;
				background-position: center;
				background-repeat: no-repeat;
				transform: scale(1);
				transition: all .25s ease-out,
				background-size .25s .225s ease-out;

				@include respond(800) {
					content: "View More";
					opacity: .5;
					transform: scale(1);
					background-size: 3rem;
				}
			}
		}

		&__info {
			padding: 2rem;
			margin-bottom: auto;
		}

		&__title {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 1rem;
			text-align: center;
		}

		&__description {
			line-height: 1.6;
			font-size: 1.6rem;
			color: var(--color-grey-main);

			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}

		&__category {
			position: absolute;
			background: var(--color-whitish);
			opacity: .8;
			padding: .5rem 1rem;
			font-size: 1.4rem;
			top: 1rem;
			left: 1rem;
			z-index: 1;
			border-radius: 1rem;
		}

		&__footer {
			display: flex;
			padding: 0 2rem 2rem 2rem;
		}

		&__date {
			// background: yellow;
			opacity: .5;
			margin-right: auto;
		}

		&__comments {
			// background: pink;

			& span {
				display: inline-block;
				height: 2rem;
				width: 2rem;
				background: var(--color-one);
				position: relative;
				top: 4px;

				-webkit-mask-image: url("../../images/comment.svg");
				-webkit-mask-size: cover;
				// -webkit-mask-repeat: no-repeat;
				-webkit-mask-position: center;
				margin-left: .75rem;
			}
		}

		&:nth-last-child(-n+2) {
			height: 0;
			border: none;
			padding: 0;
			margin: 0 2rem 0 0;
			// background: lime;
		}

		&--is-grid {
			flex: 1 0 25rem;
		}

		&--is-list {
			flex: 1 0 50rem;
			flex-direction: row;

			@include respond(500) {
				flex: 1 0 96%;
			}

			// & .portfolio__item__info .portfolio__item__description {
				// 	background: green;
				// }

				& .portfolio__item__info {
					flex: 2 0 20rem;
				}

				& .portfolio__item__info .portfolio__item__title {
					text-align: left;
				}

				& .portfolio__item__footer {
					position: absolute;
					bottom: 0;
					right: 0;
				}

				& img {
					background: red !important;
					min-width: 32rem;
					max-width: 32rem;

					@include respond(1000) {
						min-width: 25rem;
						max-width: 25rem;
					}

					@include respond(800) {
						min-width: 20rem;
						max-width: 20rem;
					}

					@include respond(600) {
						min-width: 15rem;
						max-width: 15rem;
					}
				}
			}
		}
	}