.portfolio {

	font-size: 1.6rem;
	&__container {
		max-width: 114rem;
		margin: 0 auto;
	}

	&__header {
		background: yellow;

		display: flex;
		align-items: center;

		&__search {
			margin-right: auto;
		}

		&__features {
			display: flex;
		}

		&__grid {
			padding: 2rem 3rem;
			cursor: pointer;

			&--is-active {
				background: pink;
			}

			&__img {
				background:green;
				height: 2rem;
				width: 2rem;
				-webkit-mask-image: url("../../images/grid.svg");
				-webkit-mask-size: 2rem;
			}
		}

		&__list {
			padding: 2rem 3rem;
			cursor: pointer;

			&--is-active {
				background: pink;
			}

			&__img {
				background:green;
				height: 2rem;
				width: 2rem;
				-webkit-mask-image: url("../../images/list.svg");
			}
		}
	}

	&__content {
		display: flex;
	}

	&__nav {
		background: red;
		flex: 0 0 20%;
	}

	&__main {
		background: blue;
		flex: 1;

		&__group {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			padding: 1rem;
		}
	}


	&__item {

		position: relative;
		background: #ccc;
		flex: 1 0 25rem;
		// padding: 1rem;
		margin: 1rem;

		display: flex;
		flex-direction: column;

		&__title {
			font-size: 2rem;
		}

		&:hover &__image::after {
			transform: scale(1);
			opacity: .75;
			background-size: 3rem;
		}

		&__image {

			position: relative;
			height: 20rem;
			background: grey;
			width: 100%;
			// max-width: 25rem;

			& img {
				display: block;
				width: 100%;
				height: 20rem;
				// max-width: 10rem;
				object-fit: cover;
			}

			&::after {
				content: "";
				background: white;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-image: url("../../images/more.svg");
				background-size: 0rem;
				background-position: center;
				background-repeat: no-repeat;
				transform: scale(.25);
				transition: all .25s ease-out,
							background-size .25s .225s ease-out;
			}
		}

		&__info {
			padding: 2rem;
			margin-bottom: auto;
		}

		&__title {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 1rem;
			text-align: center;
		}

		&__description {
			line-height: 1.6;
			font-size: 1.6rem;

			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}

		&__category {
			position: absolute;
			background: var(--color-whitish);
			opacity: .8;
			padding: .5rem 1rem;
			font-size: 1.4rem;
			top: 1rem;
			left: 1rem;
			z-index: 1;
			border-radius: 1rem;
		}

		&__footer {
			display: flex;
			padding: 0 2rem 2rem 2rem;
		}

		&__date {
			background: yellow;
			margin-right: auto;
		}

		&__comments {
			background: pink;

			& span {
				display: inline-block;
				height: 2rem;
				width: 2rem;
				background-image: url("../../images/comment.svg");
				background-size: cover;
				background-position: center;
				margin-right: .75rem;
			}
		}

		&:nth-last-child(-n+2) {
			height: 0;
			border: none;
			padding: 0;
			margin: 0 2rem 0 0;
			background: lime;
		}

		&--is-grid {
			flex: 1 0 25rem;
		}

		&--is-list {
			flex: 1 0 50rem;
			flex-direction: row;

			// & .portfolio__item__info .portfolio__item__description {
				// 	background: green;
				// }

				& .portfolio__item__info {
					flex: 2 0 50rem;
				}

				& .portfolio__item__info .portfolio__item__title {
					text-align: left;
				}

				& .portfolio__item__footer {
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}
		}
	}