.project {
	font-size: 1.6rem;
	line-height: 1.6;

	&__container {
		max-width: 120rem;
		margin: 0 auto;
		min-height: 90rem;
		background: var(--color-whitish);
		box-shadow: 0 0 1rem rgba(0,0,0,.15);
		overflow: hidden;

		display: flex;

		@include respond(1200) {
			border-radius: 0;
		}

		@include respond(800) {
			flex-direction: column;
		}
	}

	&__main {
		position: relative;
		width: 70%;
		// flex: 1;
		@include respond(800) {
			flex: 1;
			width: 100%;
		}

		&__counter {
			font-size: 1.4rem;
			color: var(--color-grey-main);
			border-bottom: 1px solid var(--color-grey-light);
			padding: 1rem 5rem;
			display: flex;

			&__likes {
				margin-right: 2.5rem;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__views {
				margin-right: 2.5rem;
				display: flex;
				flex-direction: column;
				align-items: center;

				&__icon {
					height: 3rem !important;
					width: 3rem !important;
					-webkit-mask-size: 23rem;
					cursor: pointer;
					background: var(--color-one);
				}

				&__number {
				}
			}

			&__comments {
				margin-right: 2.5rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				&__icon {
					height: 3rem !important;
					width: 3rem !important;
					-webkit-mask-size: 21rem;
					-webkit-mask-repeat: no-repeat;
					cursor: pointer;
					background: var(--color-one);
				}

				&__number {

				}
			}

			&__details {
				align-self: center;
				margin-left: auto;
			}
		}
	}

	&__main__info {
		padding: 3rem 5rem;

		@include respond(800) {
			padding: 2rem;
		}

		&__title {
			margin-bottom: 1.25rem;

			@include respond(800) {
				text-align: center;
			}
		}

		&__description {

		}
	}

	&__main__comments {
		padding: 5rem;
		border-top: 1px solid var(--color-grey-light);

		@include respond(800) {
			padding: 2rem;
		}
	}

	&__side {
		background: var(--color-whitish);
		flex: 1;
		border-left: 1px solid var(--color-grey-light);

		&__info {
			padding: 2rem;
			display: flex;
			flex-direction: column;

			@include respond(800) {
			
			}

			&__title {
				font-size: 2rem;
				margin-bottom: 2rem;
			}

			&__group {

				margin-bottom: 3.75rem;

				&__title {
					font-weight: bold;
					margin-bottom: 1.75rem;
					border-left: 2px solid var(--color-one);
					padding-left: 1rem;
				}

				&__container {

					padding-left: 1.2rem;

					ul {
						list-style: none;
					}

					ul li {

					}
				}
			}

			&__more {

				li {

				}

				li span {
					position: relative;
					top: 5px;
					display: inline-block;
					height: 2.25rem;
					width: 2.25rem;
					background: var(--color-one);
					margin-right: 1rem;

					-webkit-mask-image: url("../../images/search.svg");
					-webkit-mask-size: 1.5rem;
					-webkit-mask-repeat: no-repeat;
					-webkit-mask-position: center;
				}

				span.icon1 {-webkit-mask-image: url("../../images/more.svg");}
				span.icon2 {-webkit-mask-image: url("../../images/more.svg");}
				span.icon3 {-webkit-mask-image: url("../../images/more.svg");}
				span.icon4 {-webkit-mask-image: url("../../images/more.svg");}
			}

			&__technology {
				display: flex;
				font-size: 1.25rem;
				flex-wrap: wrap;

				li {
					border: 1px solid grey;
					padding: 2px 5px;
					margin-right: 5px;
					margin-bottom: 5px;
				}
			}

			&__share {
				display: flex;

				li {
					border: 1px solid grey;
					width: 3rem;
					height: 3rem;
					margin-right: 5px;

					display: flex;
					justify-content: center;
					align-items: center;

					span {
						height: 2rem;
						width: 2rem;
						background: var(--color-one);
						-webkit-mask-image: url("../../images/search.svg");
						-webkit-mask-size: 1.5rem;
						-webkit-mask-repeat: no-repeat;
						-webkit-mask-position: center;
					}

					span.fb {-webkit-mask-image: url("../../images/facebook-logo.svg");}
					span.mail {-webkit-mask-image: url("../../images/envelope.svg");}
					span.linkedin {-webkit-mask-image: url("../../images/linkedin-logo.svg");}
				}
			}

			&__similar {

			}
		}


		&__info.mobile {
			display: none;

			@include respond(800) {
				display: flex;
				padding: 2rem;
				border-top: 1px solid var(--color-grey-light);
				flex-direction: row;
				flex-wrap: wrap;
			}

			& .project__side__info__group {
				flex: 0 0 50%;
				min-width: 20rem;
			}

			& .project__side__info__group.share {
				flex: 0 0 100%;
			}

			& .project__side__info__group:last-child {
				flex: 0 0 100%;	
			}

			& .project__side__info__similar {
				display: flex;
				flex-wrap: wrap;
				margin-right: 0;
			}

			& .project__similar {
				margin-right: 2rem;
				flex: 1 0 20%;
				min-width: 25rem;
			}
		}
	}

	.project__side__info.mobile .project__similar {
		@include respond(500) {
			margin-right: 0;
		}
	}

	&__similar {
		background: var(--color-whitish);
		display: flex;
		min-height: 8rem;
		margin-bottom: 2rem;
		border: 1px solid var(--color-grey-light);
		box-shadow: 0 0 1rem rgba(0,0,0,.15);
		border-radius: 1rem;
		overflow: hidden;
		max-height: 8rem;

		@include respond(1000) {
			flex-direction: column;
		}

		@include respond(800) {
			flex-direction: row;
		}

		&__image {
			flex: 0 0 10rem;
			position: relative;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;

				@include respond(1000) {
					height: 12rem;
				}

				@include respond(800) {
					height: 100%;
				}
			}

			&::after {
				content: "";
				background: var(--color-whitish);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-image: url("../../images/more.svg");
				background-size: 2rem;
				background-position: center;
				background-repeat: no-repeat;
				transform: scale(1);
				transition: all .25s ease-out,
				background-size .25s .225s ease-out;
			}
		}

		&__info {
			flex: 1;
			padding: .75rem 1.25rem;
		}

		&:hover &__image::after {
			opacity: .75;
		}
	}
}