.register {

	&__main {

		background-color: var(--color-whitish);
		padding: 3rem;
		display: flex;
		box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
		// flex-wrap: wrap;

		@include respond(1000) {
			padding: 5rem;
		}

		@include respond(800) {
			flex-direction: column;
		}

		@include respond(600) {
			padding: 2rem;
		}

		&__fields {
			flex: 0 0 70%;
			padding: 5rem;
			border: 5px solid var(--color-one);

			@include respond(1000) {
				flex: 0 0 60%;
			}
		}

		&__upload {
			flex: 0 0 30%;
			padding-left: 5rem;

			@include respond(1000) {
				flex: 0 0 40%;
			}

			@include respond(800) {
				padding: 0;
				flex: 1;
				max-width: 30rem;
				align-self: center;
				padding: 5rem 0;
			}

			&__group {
				position: relative;
				display: flex;

				@include respond(1000) {
					width: 100% !important;
				}

				@include respond(800) {
				}
			}

			&__image {
				width: 100%;
				padding-top: 100%;
				// background-image: url("http://oakclifffilmfestival.com/assets/placeholder-user.png");
				// background-size: cover;
				background-color: var(--color-light-grey);

				&--edit {
					width: 100%;
					padding-top: 100%;
					background: var(--color-light-grey);
					background-size: cover;
					position: relative;

					& img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
					}
				}

				&__input {
					font-family: inherit;
					background-color: var(--color-two);
					color: var(--color-whitish);
					height: 4rem;
					padding: 9px 0;

					@include respond(1000) {
						width: 100%;
					}
				}

				&__label {
					position: relative;
					font-family: inherit;
					cursor: pointer;
					transition: all .3s ease-out;
					padding: 1rem;
					background: var(--color-one);
					color: var(--color-whitish);
					position: absolute;
					font-size: 1.4rem;
					width: 8.7rem;
					height: 4rem;
					top: 0;
					left: 0;
					padding: 9px 0;
					text-align: center;

					@include respond(1000) {
						width: 9.2rem;
					}

					@include respond(800) {
						width: 9.7rem;
					}

					@include respond(500) {
						width: 10.4rem;
					}
				}

				&__label:hover {
					
				}
			}

			&__text:first-of-type {
				margin-top: 5rem;
			}
			&__text {
				margin-top: 1rem;
				font-size: 1.4rem;
				color: var(--color-grey-main);
			}

			&__footer {
				flex: 0 0 100%;
			}

			&__btn {
				
			}

			&__signup {
				text-align: center;
			}
		}

		&__info {
			text-align: center;
			margin-bottom: 5rem;
		}
	}

	&__radio {

		&__group {
			display: flex;
			margin-top: 3rem;
			width: 100%;

			& label {
				margin-right: 2rem;
			}
		}

	}
}