.register {
	box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
	@include clearfix;
	border-radius: 2rem;
	display: flex;

	@include respond(1000) {
		display: block;
	}

	&__register-side {
		width: 60%;
		float: left;
		background: var(--color-whitish);
		border-radius: 2rem 0 0 2rem;

		@include respond(1000) {
			width: 100%;
			float: none;
			border-radius: 2rem 2rem 0 0;
		}

		&__container {
			padding: 7rem;
			@include respond(1000) {
				padding: 5rem;
			}
		}

		&__desc {
			text-align: center;
			color: var(--color-grey);
		}

		&__sign-up {
			text-align: center;
		}
	}

	&__info-side {
		position: relative;
		width: 40%;
		float: left;
		background-image: linear-gradient(to right bottom, rgba(58, 175, 169, .8), rgba(58, 175, 169, .5)), url(../../images/register-image.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 0 2rem 2rem 0;

		@include respond(1000) {
			width: 100%;
			float: none;
			border-radius: 0 0 2rem 2rem;
		}

		&__container {
			padding: 7rem;
			position: relative;

			@include respond(800) {
				padding: 5rem;
			}
		}

		&__content {
			position: relative;
			@include clearfix;
		}

		&__logo {
			position: relative;
			height: 10rem;
			width: 100%;
			background: url(../../images/logo1.svg);
			background-repeat: no-repeat;
			left:50%;
			transform: translateX(-16.25%);

			@include respond(1000) {
				height: 6rem;
				left: 0;
				transform: translateX(0);
				float: left;
				width: 20%;
			}

			@include respond(800) {
				height: 6rem;
				left: 0;
				transform: translateX(0);
				float: left;
				width: 20%;
			}

			@include respond(700) {
				width: 100%;
				float: none;
				left: calc(50% - 3rem);
			}
		}

		&__desc {
			color: var(--color-whitish);
			font-weight: 100;
			@include respond(1000) {
				float: left;
				width: 80%;
			}

			@include respond(800) {
				float: left;
				width: 80%;
			}

			@include respond(700) {
				float: none;
				width: 100%;
			}
		}
	}
}