<% var pageTitle = "Contact | Nikola Pavlov" %> 
<% var pageDescription = "Contact page for Nikola Pavlov portfolio webpage" %> 
<% var pageKeywords = "Nikola Pavlov, Inbox, Message, Contact, Text, Contact me, Portfolio" %> 

 <% include ../partials/header %>

 <section class="section section--contact-page">
 	<div class="contact-page">
 		<div class="contact-page__contact-info">
 			<div class="contact-page__contact-info__container">
 				<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-white">Contact me.</h2>
 				<div class="contact-page__contact-info__phone">
 					<div class="contact-page__contact-info__phone__icon"></div>
 					<div class="contact-page__contact-info__phone__title">Phone Number</div>
 					<div class="contact-page__contact-info__phone__info">+389 70 240617</div>
 				</div>
 				<div class="contact-page__contact-info__email">
 					<div class="contact-page__contact-info__email__icon"></div>
 					<div class="contact-page__contact-info__email__title">Email Address</div>
 					<div class="contact-page__contact-info__email__info">nikola@pavlov.mk</div>
 				</div>
 			</div>
 		</div>
 		<div class="contact-page__contact-form">
 			<div class="contact-page__contact-form__container">

 				<h2 class="headline-4 u-center-horizontaly u-margin-bottom-medium headline--stylish-1">Send me a message.</h2>

 				<form action="/contact" method="POST" class="main-contact-form__form">
 					<div class="main-contact-form__form__group">
 						<input type="text" class="main-contact-form__form__input" name="firstName" placeholder="Your Name" id="contact-name" required>
 						<label for="contact-name" class="main-contact-form__form__label">Your First Name</label>
 					</div>

 					<div class="main-contact-form__form__group">
 						<input type="text" class="main-contact-form__form__input" name="lastName" placeholder="Your Last Name" id="contact-last-name" required>
 						<label for="contact-last-name" class="main-contact-form__form__label">Your Last Name</label>
 					</div>

 					<div class="main-contact-form__form__group--2">
 						<input type="email" class="main-contact-form__form__input" name="email" placeholder="Your Email" id="contact-email" required>
 						<label for="contact-email" class="main-contact-form__form__label">Your Email</label>
 					</div>

 					<div class="main-contact-form__form__group--2">
 						<input type="text" class="main-contact-form__form__input" name="subject" placeholder="Your Subject" id="contact-subject" required>
 						<label for="contact-subject" class="main-contact-form__form__label">Subject</label>
 					</div>

 					<div class="main-contact-form__form__group--2">
 						<textarea rows="4" class="main-contact-form__form__textarea" name="message" placeholder="Your Message" id="contact-message"required></textarea>
 						<label for="contact-message" class="main-contact-form__form__label">Your Message</label>
 					</div>



 					<button class="btn btn--main btn--full-width">Send Message</button>
 				</form>
 			</div>
 		</div>
 	</div>
 </section>








 <% include ../partials/footer %>