@font-face {
	font-family: 'volkswagen';
	src: url("../../fonts/Volkswagen Serial Light.otf");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'volkswagen';
	src: url("../../fonts/Volkswagen Serial.otf");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'volkswagen';
	src: url("../../fonts/Volkswagen Serial Medium.otf");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'volkswagen';
	src: url("../../fonts/Volkswagen Serial Bold.otf");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'volkswagen';
	src: url("../../fonts/Volkswagen Serial ExtraBold.otf");
	font-style: normal;
	font-weight: 900;
}

body {
	font-family: volkswagen, sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: #777;
}