<h2>FORGOT PASSWORD</h2>

<p>Edit Comment</p>

<form action="/forgot" method="POST">
	<input type="email" name="email" autofocus>
	<button>Reset Password</button>
</form>

<a href="/portfolio">View Portfolio</a>