 <% include ../partials/header %>

 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2>FORGOT PASSWORD</h2>

<p>Enter your email to get link for password change</p>

<form action="/forgot" method="POST">
	<input type="email" name="email" autofocus>
	<button>Reset Password</button>
</form>

<a href="/portfolio">View Portfolio</a>

 <% include ../partials/footer %>