.site-footer {

	color: var(--color-text);

	&__item-content {
		border-right: 1px solid #eee;
		@include clearfix;

		@include respond(Large) {
			border: none;
		}
	}

	&__item {
		width: 25%;
		// background: red;
		float: left;

		@include respond(Large) {
			
		}

		@include respond(Medium) {
		}

		@include respond(Small) {
			width: 50%;
			padding-bottom: 5rem;
			text-align: center;
		}

		@include respond(Tiny) {
			width: 50%;
		}

		&__title {
			height: 5rem;
			font-size: 2rem;
		}

		&__list {
			font-size: 1.4rem;

			ul {
				list-style: none;
			}

			ul li:not(:last-child) {
				padding-bottom: 1rem;
			}
		}
	}

	&__bottom {
		border-top: 1px solid #eee;
		font-size: 1.4rem;

		&__content {
			position: relative;
			width: 100%;
			padding: 2rem 0;
			@include clearfix;

			&--left {
				@include respond(Large) {
					width: 100%;
					height: 4rem;
				}			
			}
		}

		&__logo {
			width: 4rem;
			height: 4rem;
			// background: yellow;
			display: inline-block;
			margin-right: 2.5rem;
			position: relative;
			float: left;

			&__img {
				width: 5rem !important;
				height: 5rem !important;
				-webkit-mask-size: 38rem;
				background: var(--color-one);
			}

			@include respond(Large) {
				display: none;			
			}		
		}

		&__items {
			position: relative;
			display: inline-block;
			height: 4rem;
			float: left;

			@include respond(Large) {
				float: none;
				text-align: center;
				display: block;		
			}

			& ul {
				@include center-verticaly;
				position: relative;
				display: inline-block;
			}

			& ul li {
				display: inline-block;
				padding-right: 2rem;
			}
		}

		&__copyright-container {
			height: 4rem;
			display: block;
			position: relative;
			float: right;

			@include respond(Large) {
				width: 100%;
				text-align: center;			}
			}

			&__copyright {
				position: relative;
				@include center-verticaly;
			}
		}

		&__social-media {
			position: relative;
			font-size: 1.4rem;
			margin-top: 3rem;

			@include respond(Medium) {
				background-color: var(--color-light-grey);
			}

			&__container {
				position: relative;
				// background-color: red;
				padding: 2rem 0;
				@include clearfix;
			}

			&__items {
				position: relative;
				// background-color: yellow;
				width: 33.33%;
				float: left;
				opacity: .7;
				transition: opacity .2s ease-out;

				&:not(:last-child) {
					border-right: 1px solid var(--color-two);
					;
				}

				&:hover {
					opacity: 1;
				}

				&--item {
					position: relative;
					@include clearfix;
					height: 4rem;

					@include respond(XLarge) {

					}

					&__icon {
						position: relative;
						width: 4rem !important;
						height: 4rem !important;
						background-color: var(--color-two);
						-webkit-mask-size: 25rem;
						float: left;
						margin-right: 2px;

						&--instagram {
						}

						&--linkedin {
						}

						@include respond(XLarge) {
							float: none;
							@include center-horizontaly;
						}

						@include respond(Small) {
							float:left;
							left: 25%;
						}

						@include respond(Tiny) {
							float: none;
							@include center-horizontaly;
						}
					}

					&__text {
						position: relative;
						width: 100%;
						height: 2rem;
						@include center-verticaly;

						@include respond(XLarge) {
							display: none;
						}

						@include respond(Small) {
							display: block;
							text-align: center;
						}

						@include respond(Tiny) {
							display: none;
						}
					}
				}
			}
		}
	}
