.nav-primary {

	@include respond(Medium) {
		padding-top: 2rem;
	}

	&--float-right {
		float: right;

		@include respond(Medium) {
			float: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@include clearfix;
	}

	li {
		list-style: none;
		float: left;
		padding-right: 2rem;
		@include respond(Medium) {
			float: none;
			display: inline-block;
			padding-right: .7rem;
		}
	}

	li:last-child {
		@include respond(Medium) {
			padding-right: 0;
		}
	}

	a {
		color: var(--color-whitish);
		text-decoration: none;
		font-size: 1.6rem;
		font-weight: 400;
		display: block;
		padding: 1.1rem 0 0 0;

		@include respond(Medium) {
			padding: .5rem .8rem;
			font-size: 1.4rem;
			background-color: rgba(58, 175, 169, .6);
		}
	}
}