.nav-top {
	background: var(--color-three);
	// padding: .5rem 0;
	font-size: 1.6rem;
	z-index: 100;
	transition: all .3s ease-out;
	height: 4rem;

	ul {
		float: right;
		padding-bottom: 1rem;
	}

	& ul li {
		display: inline-block;
		// position: relative;
		// top: -0.5rem;

		&:not(:last-child) {
			padding-right: 3rem;
		}
	}

	&__item__language {
		cursor: pointer;
		height: 2rem;

		&__icon {
			display: inline-block;
			position: relative;
			background: url(../../images/united-kingdom.svg);
			height: 2.5rem;
			width: 2.5rem;
			top: 0.7rem;
		}
	}

	&--invisible {
		height: 0;
	}

	&-ul--invisible {
		display: none;
	}
}