.section {
	padding: 6rem 0;
	border-bottom: 1px solid #ccc;

	@include respond(XLarge) {
		padding-left: 0;
		padding-right: 0;
	}

	&--logo-designer {
		// height: 50rem;

		@include respond(Small) {
			// height: 85rem;
		}
	}

	&--mobile-ready {

	}

	&-test {
		padding: 5rem 0;
	}

	&--content-branding {
		background-color: var(--color-grey-light);
	}

	&--footer {
		position: relative;
		padding: 2rem 0 0 0;

		@include respond(Small) {
			padding: 4rem 0 0 0;
		}

		@include respond(XSmall) {
			padding: 6rem 0 0 0;
		}
	}

	&--skills {
		// padding-top: 0;
	}

	&--latest-work {
		// height: 80rem;
		padding-bottom: 2px;
		background-color: var(--color-whitish);
	}

	&--business-card {
		background: #edf2f4;
		background-image: radial-gradient(var(--color-whitish), var(--color-grey-light));
	}

	&--inbox {
		height: 200rem;
	}

	&--contact-page {
		height: 80rem;
		// background: url("../../images/contact-page-image.jpg");
		background: var(--color-whitish);
		background-size: cover;
		padding-top: 10rem;
	}

	&--login-page {
		min-height: 100vh;
		padding-top: 20rem;

		background-image: linear-gradient(to right bottom, var(--color-two), var(--color-four));

		@include respond(800) {
			padding-bottom: 10rem;
		}
	}

	&--register-page {
		padding-top: 20rem;
		min-height: 100vh;
		background-image: linear-gradient(to right bottom, var(--color-two), var(--color-four));
	}

	&--testimonials {
		padding-top: 10rem;
		background: var(--color-grey-light);
	}

	&--digital-services {
		padding: 0;
	}

	&--about-me {
		padding: 0;
	}

	&--write-to-me {
		background-image: linear-gradient(to right bottom, var(--color-one), var(--color-four));
	}

	&--pro-skills {
		background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7)), url(../../images/1980x1080.png);
		background-size: cover;
		// height: 70rem;
		background-position: top;
		background-attachment: fixed;
	}

	&--info {
		padding: 0;
	}

	&--blogs {
		
	}

	&--aboutme {
		// background-color: yellow;
		min-height: 100vh;
		padding-top: 20rem;
	}

	&--profile {
		
	}

	&--cv {
		min-height: 100vh;
		padding-top: 20rem;
		background-color: var(--color-three);

		@include respond(1200) {
			min-height: auto;
			padding: 15rem 0 0 0;
		}
	}

	&--portfolio {
		min-height: 100vh;
		padding-top: 40rem;
		background: #eee;
	}

	&--project {
		padding-top: 20rem;
		min-height: 100vh;
		background: var(--color-two);
	}

	&--profile {
		padding-top: 20rem;
		min-height: 100vh;
		background: var(--color-two);
	}

	&--forgot {
		padding-top: 20rem;
		min-height: 100vh;
		background: var(--color-three);
	}

	&--reset {
		padding-top: 20rem;
		min-height: 100vh;
		background: var(--color-three);
	}

	&--newcomment {
		padding-top: 20rem;
		min-height: 100vh;
		background: var(--color-whitish);
	}
}