.section {
	padding: 6rem 0;
	border-bottom: 1px solid #ccc;

	@include respond(XLarge) {
		padding-left: 0;
		padding-right: 0;
	}

	&--logo-designer {
		height: 50rem;
		padding: 0;

		@include respond(Small) {
			height: 85rem;
		}
	}

	&--mobile-ready {

	}

	&-test {
		padding: 5rem 0;
	}

	&--content-branding {
		background-color: var(--color-grey-light);
	}

	&--footer {
		position: relative;
		padding: 2rem 0 0 0;

		@include respond(Small) {
			padding: 4rem 0 0 0;
		}

		@include respond(XSmall) {
			padding: 6rem 0 0 0;
		}
	}

	&--skills {
		padding-top: 0;
	}

	&--latest-work {
		// height: 80rem;
		padding-bottom: 2px;
		background-color: var(--color-whitish);
	}

	&--business-card {
		background: #edf2f4;
		background-image: radial-gradient(var(--color-whitish), var(--color-grey-light));
	}

	&--inbox {
		height: 200rem;
	}

	&--contact-page {
		height: 80rem;
		// background: url("../../images/contact-page-image.jpg");
		background: var(--color-whitish);
		background-size: cover;
		padding-top: 10rem;
	}

	&--login-page {
		height: 100rem;
		padding-top: 20rem;
		// background: var(--color-three);
		background-image: linear-gradient(to right bottom, var(--color-two), var(--color-four));

		@include respond(Medium) {
			height: 120rem;
		}
	}

	&--register-page {
		height: 100rem;
		padding-top: 20rem;
		background-image: linear-gradient(to right bottom, var(--color-two), var(--color-four));
	}

	&--testimonials {
		height: 60rem;
		padding-top: 10rem;
	}

	&--digital-services {
		// height: 70rem;
		padding: 0;

		@include respond(Medium) {
			height: 80rem;
		}

		@include respond(Small) {
			height: 85rem;
		}

		@include respond(Tiny) {
			height: 100rem;
		}
	}

	&--about-me {
		// height: 70rem;
		padding: 0;

		@include respond(Medium) {
			height: 80rem;
		}

		@include respond(Small) {
			height: 85rem;
		}

		@include respond(Tiny) {
			height: 100rem;
		}
	}

	&--write-to-me {
		background-image: linear-gradient(to right bottom, var(--color-one), var(--color-four));
	}
}