@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin center-horizontaly {
	left:50%;
	transform: translateX(-50%);
}

@mixin center-verticaly {
	top:50%;
	transform: translateY(-50%);
}

@mixin center-content {
	top:50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}


/*
1em = 16px
*/

@mixin respond($breakpoint) {

	@if $breakpoint == Tiny {
		@media (max-width: 22.5em) {		// 360px
			@content
		};
	}

	@if $breakpoint == XSmall {
		@media (max-width: 30em) {		// 480px
			@content
		};
	}

	@if $breakpoint == Small {
		@media (max-width: 40em) {		// 640px
			@content
		};
	}

	@if $breakpoint == Medium {
		@media (max-width: 48em) {		// 768px
			@content
		};
	}

	@if $breakpoint == Large {
		@media (max-width: 62em) {		// 992px
			@content
		};
	}

	@if $breakpoint == XLarge {
		@media (max-width: 71.25em) {	// 1140px
			@content
		};
	}

	@if $breakpoint == XXLarge {
		@media (max-width: 90em) {	// 1440px
			@content
		};
	}

	@if $breakpoint == XXXLarge {
		@media (max-width: 100em) {	// 1600px
			@content
		};
	}

	@if $breakpoint == Huge {
		@media (min-width: 125em) {	// 2000px
			@content
		};
	}
}
