// GRID

:root {
	--grid-width: 114rem;

	--grid-gutter-vertical-xs: 4rem;
	--grid-gutter-vertical-s: 6rem;
	--grid-gutter-vertical-m: 8rem;
	--grid-gutter-vertical-l: 10rem;
	--grid-gutter-vertical-xl: 12rem;

	--grid-gutter-horizontal-xs: 1rem;
	--grid-gutter-horizontal-s: 2rem;
	--grid-gutter-horizontal-m: 4rem;
	--grid-gutter-horizontal-l: 6rem;
	--grid-gutter-horizontal-xl: 8rem;
}

// COLORS

:root {

	
	--color-dark: #17a5ad;
	--color-one: #3aafa9; // rgba(58, 175, 169, .8)
	--color-two: #2b7a78; // rgba(43, 122, 120, .8)
	--color-three: #def2f1;
	--color-four: #007878; // rgba(0, 120, 120, 1)
	--color-whitish: #feffff;
	--color-grey-main: #777777;
	--color-grey: #464d5a;

}