// GRID

:root {
	--grid-width: 114rem;
	--grid-gutter-vertical: 8rem;
	--grid-gutter-horizontal: 6rem;
}

// COLORS

:root {
	--grid-width: 114rem;
	--grid-gutter-vertical: 8rem;
	--grid-gutter-horizontal: 6rem;
}