<% var pageTitle = "About me | Nikola Pavlov" %> 
<% var pageDescription = "This page shows more information about myself" %> 
<% var pageKeywords = "CV, Portfolio, Nikola Pavlov, Pavlov, Projects, Personal information, About me, Work, Designer, Developer" %> 

<% include ../partials/header %>

<section class="section section--aboutme">
	<div class="wrapper">
		<div class="aboutme">
			<div class="aboutme__info">
				<div class="aboutme__info__left">
					<div class="aboutme__info__left__img">
						<img src="https://cdn.pixabay.com/photo/2020/01/08/03/56/man-4749237_960_720.jpg" alt="My profile">
						<div class="aboutme__info__left__img__info">
							<div class="aboutme__info__left__img__info__title">Nikola Pavlov</div>
							<div class="aboutme__info__left__img__info__subtitle">Graphic Designer / Web Developer</div>
							<div class="aboutme__info__left__img__info__icons">
								<div class="aboutme__info__left__img__info__icons__icon aboutme__info__left__img__info__icons__icon icon icon--facebook-logo"></div>
								<div class="aboutme__info__left__img__info__icons__icon aboutme__info__left__img__info__icons__icon icon icon--instagram-logo"></div>
								<div class="aboutme__info__left__img__info__icons__icon aboutme__info__left__img__info__icons__icon icon icon--linkedin-logo"></div>
								<div class="aboutme__info__left__img__info__icons__icon aboutme__info__left__img__info__icons__icon icon icon--github-logo"></div>
								<div class="aboutme__info__left__img__info__icons__icon aboutme__info__left__img__info__icons__icon icon icon--envelope"></div>
							</div>
							<div class="aboutme__info__left__img__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iste dolore magni maiores odit necessitatibus.</div>
						</div>
					</div>
					<div class="aboutme__info__left__cv">
						Open CV
					</div>
				</div>
				<div class="aboutme__info__right">
					<div class="aboutme__info__right__info">
						<h2 class="aboutme__info__right__info__title">I'm <span>Nikola Pavlov</span></h2>
						<div class="aboutme__info__right__info__subtitle">Graphic Designer / Web Developer</div>
						<div class="aboutme__info__right__info__description">lomre Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam molestias ut ipsam consectetur vel assumenda perspiciatis, architecto repellendus quae nemo sapiente obcaecati. Veniam nulla, esse a quisquam debitis mollitia numquam.	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nulla repellendus vel, nemo ipsam neque? Ab optio accusantium tenetur ex culpa enim, recusandae corrupti illum, ratione aliquam quam quas rem.</div>

						<ul class="aboutme__info__right__info__item-group">
							<li class="aboutme__info__right__info__item">
								<div class="aboutme__info__right__info__item__title">Age</div>
								<div class="aboutme__info__right__info__item__content">29</div>
							</li>
							<li class="aboutme__info__right__info__item">
								<div class="aboutme__info__right__info__item__title">Nationality</div>
								<div class="aboutme__info__right__info__item__content">Macedonian</div>
							</li>
							<li class="aboutme__info__right__info__item">
								<div class="aboutme__info__right__info__item__title">Address</div>
								<div class="aboutme__info__right__info__item__content">1000 Skopje, North Macedonia</div>
							</li>
							<li class="aboutme__info__right__info__item">
								<div class="aboutme__info__right__info__item__title">Phone</div>
								<div class="aboutme__info__right__info__item__content">+389 70 240 617</div>
							</li>
							<li class="aboutme__info__right__info__item">
								<div class="aboutme__info__right__info__item__title">Email</div>
								<div class="aboutme__info__right__info__item__content">nikola@pavlov.mk</div>
							</li>
							<li class="aboutme__info__right__info__item">
								<div class="aboutme__info__right__info__item__title">Website</div>
								<div class="aboutme__info__right__info__item__content">www.pavlov.mk</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="aboutme__build">

				<div class="aboutme__designer">
					<div class="aboutme__designer__img">
						<img src="https://www.costacareers.co.uk/media/1162/international-mug.png" alt="img">
					</div>
				</div>
				<div class="aboutme__designer__title">Graphic Designer</div>
				<div class="aboutme__designer__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ullam animi quos ipsum odio amet veritatis, eveniet consectetur, accusantium ipsa placeat voluptas unde earum, nesciunt possimus atque! Natus, obcaecati labore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quam illo itaque, nobis reprehenderit, quis nam libero vitae unde tempore rem explicabo voluptatem sapiente. Nobis quos perferendis tempore suscipit commodi!</div>
				<div class="aboutme__designer__expand-btn">
					<div class="aboutme__designer__expand-btn__icon icon icon--plus"></div>
				</div>



				<div class="aboutme__developer">
					<div class="aboutme__developer__img">
						<img src="https://www.costacareers.co.uk/media/1161/innovation-mug.png" alt="img">
					</div>
				</div>
				<div class="aboutme__developer__title">Web Designer / Developer</div>
				<div class="aboutme__developer__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ullam animi quos ipsum odio amet veritatis, eveniet consectetur, accusantium ipsa placeat voluptas unde earum, nesciunt possimus atque! Natus, obcaecati labore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quam illo itaque, nobis reprehenderit, quis nam libero vitae unde tempore rem explicabo voluptatem sapiente. Nobis quos perferendis tempore suscipit commodi!</div>
				<div class="aboutme__developer__expand-btn">
					<div class="aboutme__developer__expand-btn__icon icon icon--plus"></div>
				</div>
			</div>
		</div>
	</div>
</section>


<% include ../partials/footer %>