 <% include ../partials/header %>


 <section class="section section--aboutme">
 	<div class="wrapper">
 		<div class="aboutme">
 			<div class="aboutme__info">
 				<div class="aboutme__info__left">
 					<div class="aboutme__info__left__img">
 						<img src="http://demo.dueza.com/aboutme-html/aboutme/green-color/assets/images/about/about-me.jpg" alt="test">
 						<div class="aboutme__info__left__img__info">
 							<div class="aboutme__info__left__img__info__title">TITLE</div>
 							<div class="aboutme__info__left__img__info__subtitle">Subtitle</div>
 							<div class="aboutme__info__left__img__info__icons">Icons</div>
 							<div class="aboutme__info__left__img__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iste dolore magni maiores odit necessitatibus repudiandae officia autem tempore.</div>
 						</div>
 					</div>
 				</div>
 				<div class="aboutme__info__right">
 					<div class="aboutme__info__right__info">
 						<div class="aboutme__info__right__info__title">TITLE</div>
 						<div class="aboutme__info__right__info__subtitle">Subtitle</div>
 						<div class="aboutme__info__right__info__description">lomre Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam molestias ut ipsam consectetur vel assumenda perspiciatis, architecto repellendus quae nemo sapiente obcaecati. Veniam nulla, esse a quisquam debitis mollitia numquam.	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nulla repellendus vel, nemo ipsam neque? Ab optio accusantium tenetur ex culpa enim, recusandae corrupti illum, ratione aliquam quam quas rem.</div>

 						<ul>
 							<li>test test</li>
 							<li>test test</li>
 							<li>test test</li>
 							<li>test test</li>
 							<li>test test</li>
 						</ul>
 					</div>
 				</div>
 			</div>
 			<div class="aboutme__build">

 				<div class="aboutme__designer">
 					<div class="aboutme__designer__img">
 						<img src="https://www.costacareers.co.uk/media/1162/international-mug.png" alt="img">
 					</div>
 				</div>
 				<div class="aboutme__designer__title">Graphic Designer</div>
 				<div class="aboutme__designer__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ullam animi quos ipsum odio amet veritatis, eveniet consectetur, accusantium ipsa placeat voluptas unde earum, nesciunt possimus atque! Natus, obcaecati labore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quam illo itaque, nobis reprehenderit, quis nam libero vitae unde tempore rem explicabo voluptatem sapiente. Nobis quos perferendis tempore suscipit commodi!</div>
 				<div class="aboutme__designer__expand-btn">
 					<div class="aboutme__designer__expand-btn__icon"></div>
 				</div>



 				<div class="aboutme__developer">
 					<div class="aboutme__developer__img">
 						<img src="https://www.costacareers.co.uk/media/1161/innovation-mug.png" alt="img">
 					</div>
 				</div>
 				<div class="aboutme__developer__title">Web Designer / Developer</div>
 				<div class="aboutme__developer__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ullam animi quos ipsum odio amet veritatis, eveniet consectetur, accusantium ipsa placeat voluptas unde earum, nesciunt possimus atque! Natus, obcaecati labore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quam illo itaque, nobis reprehenderit, quis nam libero vitae unde tempore rem explicabo voluptatem sapiente. Nobis quos perferendis tempore suscipit commodi!</div>
 				<div class="aboutme__developer__expand-btn">
 					<div class="aboutme__developer__expand-btn__icon"></div>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>
</section>


<% include ../partials/footer %>