 <% include ../partials/header %>


 <section class="section section--aboutme">
 	<div class="wrapper">
 		<div class="aboutme">
 			<div class="aboutme__info">test</div>
 			<div class="aboutme__build">
 				<div class="aboutme__designer">
 					<div class="aboutme__designer__img">
 						<img src="https://www.costacareers.co.uk/media/1162/international-mug.png" alt="img">
 					</div>
 				</div>
 				<div class="aboutme__designer__title">Graphic Designer</div>
 				<div class="aboutme__designer__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ullam animi quos ipsum odio amet veritatis, eveniet consectetur, accusantium ipsa placeat voluptas unde earum, nesciunt possimus atque! Natus, obcaecati labore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quam illo itaque, nobis reprehenderit, quis nam libero vitae unde tempore rem explicabo voluptatem sapiente. Nobis quos perferendis tempore suscipit commodi!</div>
 				<div class="aboutme__designer__expand-btn">BUTTON</div>
 				<div class="aboutme__developer">
 					<div class="aboutme__developer__img">
 						<img src="" alt="img">
 					</div>
 					<div class="aboutme__developer__info">
 						<div class="aboutme__developer__title">Web Designer / Developer</div>
 						<div class="aboutme__developer__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero assumenda obcaecati ut atque provident eligendi temporibus aperiam eveniet, natus, illo, consectetur voluptas vero. Aliquid consequatur voluptatibus, eius similique ratione sit.</div>
 						<div class="aboutme__developer__expand-btn">BUTTON</div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>


 <% include ../partials/footer %>