<% include ../partials/header %>


<section class="section section--cv">
	<div class="cv">
		<div class="cv__container">
			<div class="cv__content">
				<div class="cv__content__side">
					<div class="cv__content__side__photo">
						<img src="/assets/images/user.jpg" alt="cv-photo">
					</div>
					<div class="cv__content__side__contact">
						<h2 class="cv__content__title">Contact</h2>
						<ul class="cv__content__side__contact__items">
							<li class="cv__content__side__contact__item">
								<div class="cv__content__side__contact__item__icon"></div>
								<div class="cv__content__side__contact__item__desc">Ul. Nikola Rusinski br. 6/25, Skopje</div>
							</li>

							<li class="cv__content__side__contact__item">
								<div class="cv__content__side__contact__item__icon"></div>
								<div class="cv__content__side__contact__item__desc">+389 70 240 617</div>
							</li>

							<li class="cv__content__side__contact__item">
								<div class="cv__content__side__contact__item__icon"></div>
								<div class="cv__content__side__contact__item__desc">nikola@pavlov.mk</div>
							</li>

							<li class="cv__content__side__contact__item">
								<div class="cv__content__side__contact__item__icon"></div>
								<div class="cv__content__side__contact__item__desc">21/12/1989</div>
							</li>

							<li class="cv__content__side__contact__item">
								<div class="cv__content__side__contact__item__icon"></div>
								<div class="cv__content__side__contact__item__desc">www.pavlov.mk</div>
							</li>
						</ul>
					</div>

					<div class="cv__content__side__skills">
						<h2 class="cv__content__title">Skills</h2>
						<ul class="cv__content__side__skills__items">

							<li class="cv__content__side__skills__item">
								<div class="cv__content__side__skills__item__title">Adobe Photoshop</div>
								<div class="cv__content__side__skills__item__progress-bar">
									<div class="cv__content__side__skills__item__progress-bar__fill"></div>
								</div>
							</li>

							<li class="cv__content__side__skills__item">
								<div class="cv__content__side__skills__item__title">Adobe Illustrator</div>
								<div class="cv__content__side__skills__item__progress-bar">
									<div class="cv__content__side__skills__item__progress-bar__fill"></div>
								</div>
							</li>

							<li class="cv__content__side__skills__item">
								<div class="cv__content__side__skills__item__title">HTML / CSS</div>
								<div class="cv__content__side__skills__item__progress-bar">
									<div class="cv__content__side__skills__item__progress-bar__fill"></div>
								</div>
							</li>

							<li class="cv__content__side__skills__item">
								<div class="cv__content__side__skills__item__title">Javascript & JQuery</div>
								<div class="cv__content__side__skills__item__progress-bar">
									<div class="cv__content__side__skills__item__progress-bar__fill"></div>
								</div>
							</li>

							<li class="cv__content__side__skills__item">
								<div class="cv__content__side__skills__item__title">NodeJS</div>
								<div class="cv__content__side__skills__item__progress-bar">
									<div class="cv__content__side__skills__item__progress-bar__fill"></div>
								</div>
							</li>

							<li class="cv__content__side__skills__item">
								<div class="cv__content__side__skills__item__title">MongoDB</div>
								<div class="cv__content__side__skills__item__progress-bar">
									<div class="cv__content__side__skills__item__progress-bar__fill"></div>
								</div>
							</li>
						</ul>
					</div>

					<div class="cv__content__side__languages">
						<h2 class="cv__content__title">Languages</h2>
						<ul class="cv__content__side__languages__items">
							<li class="cv__content__side__languages__item">
								<div class="cv__content__side__languages__item__title"></div>
								<div class="cv__content__side__languages__item__icons">
									<div class="cv__content__side__languages__item__icons__icon"></div>
									<div class="cv__content__side__languages__item__icons__icon"></div>
									<div class="cv__content__side__languages__item__icons__icon"></div>
								</div>
							</li>

							<li class="cv__content__side__languages__item">
								<div class="cv__content__side__languages__item__title">English</div>
								<div class="cv__content__side__languages__item__icons">
									<div class="cv__content__side__languages__item__icons__icon"></div>
									<div class="cv__content__side__languages__item__icons__icon"></div>
									<div class="cv__content__side__languages__item__icons__icon"></div>
								</div>
							</li>

							<li class="cv__content__side__languages__item">
								<div class="cv__content__side__languages__item__title">Macedonian</div>
								<div class="cv__content__side__languages__item__icons">
									<div class="cv__content__side__languages__item__icons__icon"></div>
									<div class="cv__content__side__languages__item__icons__icon"></div>
									<div class="cv__content__side__languages__item__icons__icon"></div>
								</div>
							</li>

							<li class="cv__content__side__languages__item">
								<div class="cv__content__side__languages__item__title">Serbian</div>
								<div class="cv__content__side__languages__item__icons">
									<div class="cv__content__side__languages__item__icons__icon"></div>
									<div class="cv__content__side__languages__item__icons__icon"></div>
									<div class="cv__content__side__languages__item__icons__icon"></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="cv__content__main">
					<h1 class="cv__content__main__title">Nikola Pavlov</h1>
					<h2 class="cv__content__main__subtitle">Graphic Designer / Web Developer</h2>

					<div class="cv__content__main__statement">
						<h2 class="cv__content__title cv__content__title--black">Statement</h2>
						<p class="cv__content__main__statement__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, aliquid perferendis possimus eum accusamus earum odio qui a iure quis vero ut nesciunt distinctio et facilis dolorem ducimus laborum natus. Natus harum, illum tenetur hic, eos placeat a sunt non eligendi. Earum ipsam modi doloribus aliquam necessitatibus quaerat inventore rem, sunt perferendis.</p>
					</div>

					<div class="cv__content__main__work-experience">
						<h2 class="cv__content__title cv__content__title--black">Work Experience</h2>
						<ul class="cv__content__main__section__items">
							<li class="cv__content__main__section__item">
								<div class="cv__content__main__section__item__timeline">
									<div class="cv__content__main__section__item__timeline__icon"></div>
									<div class="cv__content__main__section__item__timeline__line"></div>
								</div>
								<div class="cv__content__main__section__item__content">
									<div class="cv__content__main__section__item__top">
										<div class="cv__content__main__section__item__top__title">Graphic Designer / Web Developer</div>
										<div class="cv__content__main__section__item__top__date">Feb. 2015 - Present</div>
									</div>
									<div class="cv__content__main__section__item__subtitle">Fibula Air Travel Macedonia</div>
									<p class="cv__content__main__section__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore molestiae nobis incidunt quo eaque, omnis commodi debitis beatae? Reprehenderit molestiae vitae sed harum quae quia deserunt lorem nemo quod, excepturi id.</p>
								</div>
							</li>

							<li class="cv__content__main__section__item">
								<div class="cv__content__main__section__item__timeline">
									<div class="cv__content__main__section__item__timeline__icon"></div>
									<div class="cv__content__main__section__item__timeline__line timeline--last"></div>
								</div>
								<div class="cv__content__main__section__item__content">
									<div class="cv__content__main__section__item__top">
										<div class="cv__content__main__section__item__top__title">Graphic Designer</div>
										<div class="cv__content__main__section__item__top__date">Oct. 2018 - Present</div>
									</div>
									<div class="cv__content__main__section__item__subtitle">CBS International - Macedonia</div>
									<p class="cv__content__main__section__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore molestiae nobis incidunt quo eaque, omnis commodi debitis beatae? Reprehenderit molestiae vitae sed harum quae quia deserunt lorem nemo quod, excepturi id.</p>
								</div>
							</li>
						</ul>
					</div>

					<div class="cv__content__main__education">
						<h2 class="cv__content__title cv__content__title--black">Education</h2>
						<ul class="cv__content__main__section__items">
							<li class="cv__content__main__section__item">
								<div class="cv__content__main__section__item__timeline">
									<div class="cv__content__main__section__item__timeline__icon"></div>
									<div class="cv__content__main__section__item__timeline__line"></div>
								</div>
								<div class="cv__content__main__section__item__content">
									<div class="cv__content__main__section__item__top">
										<div class="cv__content__main__section__item__top__title">SUGS Gimnazija “Nikola Karev”</div>
										<div class="cv__content__main__section__item__top__date">2004 - 2008</div>
									</div>
									<div class="cv__content__main__section__item__subtitle">High School</div>
									<p class="cv__content__main__section__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.e sed harum quae quia deserunt lorem nemo quod, excepturi id.</p>
								</div>
							</li>

							<li class="cv__content__main__section__item">
								<div class="cv__content__main__section__item__timeline">
									<div class="cv__content__main__section__item__timeline__icon"></div>
									<div class="cv__content__main__section__item__timeline__line"></div>
								</div>
								<div class="cv__content__main__section__item__content">
									<div class="cv__content__main__section__item__top">
										<div class="cv__content__main__section__item__top__title">UACS - Skopje</div>
										<div class="cv__content__main__section__item__top__date">2008 - 2011</div>
									</div>
									<div class="cv__content__main__section__item__subtitle">University</div>
									<p class="cv__content__main__section__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.e sed harum quae quia deserunt lorem nemo quod, excepturi id.</p>
								</div>
							</li>
						</ul>
					</div>

					<div class="cv__content__main__certificates">
						<h2 class="cv__content__title cv__content__title--black">Certificates & Awards</h2>
						<ul class="cv__content__main__section__items">
							<li class="cv__content__main__section__item">
								<div class="cv__content__main__section__item__timeline">
									<div class="cv__content__main__section__item__timeline__icon"></div>
									<div class="cv__content__main__section__item__timeline__line"></div>
								</div>
								<div class="cv__content__main__section__item__content">
									<div class="cv__content__main__section__item__top">
										<div class="cv__content__main__section__item__top__title">SUGS Gimnazija “Nikola Karev”</div>
										<div class="cv__content__main__section__item__top__date">2004 - 2008</div>
									</div>
									<div class="cv__content__main__section__item__subtitle">High School</div>
									<p class="cv__content__main__section__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.e sed harum quae quia deserunt lorem nemo quod, excepturi id.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<% include ../partials/footer %>