<h1>Create a new Project</h1>

<form action="/portfolio" method="POST">
	<input type="text" name="name" placeholder="name">
	<input type="text" name="image" placeholder="image url">
	<input type="text" name="description" placeholder="description">
	<input type="text" name="category" placeholder="category">
    <input type="date" name="date" placeholder="date">
    <input type="text" name="order" placeholder="order">
	<input type="text" name="color" placeholder="color">

	
    <div class="checkbox">
        <label><input name="tech" type="checkbox" value="html">HTML</label>
    </div>
    <div class="checkbox">
        <label><input name="tech" type="checkbox" value="css">CSS</label>
    </div>
    <div class="checkbox">
        <label><input name="tech" type="checkbox" value="javascript">JavaScript</label>
    </div>
    <div class="checkbox">
        <label><input name="tech" type="checkbox" value="nodejs">NodeJS</label>
    </div>
    <div class="checkbox">
        <label><input name="tech" type="checkbox" value="jquery">JQuery</label>
    </div>


<button>Submit</button>
</form>

<a href="/portfolio">View Portfolio</a>