<h1>Create a new Project</h1>

<form action="/portfolio" method="POST">
	<input type="text" name="name" placeholder="name">
	<input type="text" name="image" placeholder="image url">
	<input type="text" name="description" placeholder="description">
	<input type="text" name="category" placeholder="category">
	<input type="text" name="date" placeholder="date">
	<button>Submit</button>
</form>

<a href="/portfolio">View Portfolio</a>