<% include ../partials/header %>


<section class="section section--portfolio">
	<div class="portfolio">
		<div class="portfolio__container">
			<header class="portfolio__header">
				<div class="portfolio__header__search">Search</div>
				<div class="portfolio__header__features">
					<div class="portfolio__header__grid portfolio__header__grid--is-active">
						<div class="portfolio__header__grid__img"></div>
					</div>
					<div class="portfolio__header__list">
						<div class="portfolio__header__list__img"></div>
					</div>
				</div>
			</header>
			<div class="portfolio__content">
				<nav class="portfolio__nav">Nav</nav>
				<div class="portfolio__main">
					<ul class="portfolio__main__group">
						<li class="portfolio__item">Item</li>
						<li class="portfolio__item">Item</li>
						<li class="portfolio__item">Item</li>
						<li class="portfolio__item">Item</li>
						<li class="portfolio__item">Item</li>
						<li class="portfolio__item">Item</li>
						<li class="portfolio__item">Item</li>
						<li class="portfolio__item">Item</li>
						<li class="portfolio__item"></li>
						<li class="portfolio__item"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<% include ../partials/footer %>